/<template>
<view class='container'>
  <view class='BindPhone'>
      <view class='item'>
        <text class='item-tip'>手机号码：</text>
        <input placeholder='输入手机号码'  type='number' maxlength='11' :value="phonenum" bindinput="onPhoneInput" >
      </view>
      <view class='item '>
        <text class='item-tip'>验证码：</text>
        <input placeholder='输入验证码' type='number' :value="code" bindinput="onCodeInput" >
        <text class='get-code gray' bindtap='getCodeNumber'>获取验证码</text>
      </view>
  </view>

  <view class='btn-box'>
    <text v-if="phonenum && code" class='sure-btn' bindtap="bindMobile">确定</text>
    <text v-if="!phonenum || !code" class='sure-btn gray'>确定</text>
  </view>
</view>

</template>

<script>
export default {

}
</script>

<style>
.BindPhone {
  height: 100%;
  margin-top: 20rpx;
  background: #fff;
}

.BindPhone .item {
  display: flex;
  padding: 20rpx 0;
  height: 60rpx;
  line-height: 60rpx;
  border-bottom: 2rpx solid #e1e1e1;
}

.BindPhone .item:last-child {
  border: none;
}

.BindPhone .item input {
  flex: 1;
  height: auto;
  padding: 0 20rpx;
  font-size: 28rpx;
}

.BindPhone .item .item-tip {
  width: 140rpx;
  font-size: 28rpx;
  padding-left: 20rpx;
}

.BindPhone .item .get-code {
  font-size: 30rpx;
  color: #999;
  margin-right: 20rpx;
  text-align: center;
}

.BindPhone .item .get-code.gray {
  color: #3eb370;
}

.btn-box {
  padding: 0 20rpx;
  margin-top: 60rpx;
}

.btn-box .sure-btn {
  display: block;
  font-size: 32rpx;
  color: #fff;
  background: #3eb370;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20rpx 0;
  border-radius: 50rpx;
}

.btn-box .sure-btn.gray {
  background: #e1e1e1;
  margin-bottom: 30rpx;
}

</style>