<template>
  <view class="news">
    <view v-for="(item,index) in newNoticeList" :key="index" class="news-item" @click="tonewDetail(item)">
                   <text class="title">{{item.title}}</text>
                   <text class="publishTime">{{item.publishTime}}</text>
      </view>
  </view>
</template>

<script>
import {getNewNoticeList} from '../../services/news'
export default {
    data(){
        return{
            newNoticeList:[]
        }
    },
    onLoad(){
         this.news()
    },
    methods: {
      async news() {
            const res=await getNewNoticeList();
            this.newNoticeList=res;
      },
      tonewDetail(item){
        this.$goPage({
          url:'/pages/newDetail/index',
          query:{
            id:item.id
          }
        })
      }
    },
}
</script>

<style lang="scss" scoped>
.news {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  
}
.news-item{
    padding: 20rpx 20rpx 0 20rpx;
    position: relative;
    border-bottom:1px #eae8e8 solid;
}
.title{
  width:100%;
    font-size: 28rpx;
    text-align: left;
    display:block;
}
.publishTime{
  width:100%;
  display:block;
    font-size: 24rpx;
    color: #999;
    text-align: right;
    margin-top: 10rpx;
    margin-bottom: 20rpx;
}
</style>