<template>
  <view class="content">
    <view class="container">
      <!-- 用户信息 -->
      <view class="userInfo">
        <!-- 头像 -->
        <view class="userInfo-avatar">
          <open-data type="userAvatarUrl"></open-data>
        </view>
        <!-- 昵称 -->
        <view class="userInfo-name">
          <open-data type="userNickName"></open-data>
        </view>
      </view>
      <!-- 绑定手机号 -->
      <view class="phone">
        <text class="show-tip">绑定手机号后可查看订单和领取优惠券，</text>
        <text class="goToBind" @click="BindPhone">去绑定</text>
        <text @click="getUserInfo" class="goToBind" :v-if="show">去登陆</text>
      </view>

      <!-- 我的订单 -->
      <view class="list-cont">
        <view class="total-order">
          <view class="order-title">
            <text style="font-weight: bold">我的订单</text>
            <view class="checkmore">
              <text @click="orderListClick">查看全部</text>
              <text class="arrowhead"></text>
            </view>
          </view>

          <!-- 待支付 -->
          <view class="procedure">
            <view
              class="items"
              v-for="(val,index) in arrowheadList"
              :key="val.id"
              @click="payorder(val.txt)"
            >
              <image :src="val.image" alt="" />
              <text>{{ val.txt }}</text>
              <view class="position" v-if="index===0">{{orderListLength}}</view>
            </view>
          </view>
        </view>

        <!-- 我的收藏 -->
        <view class="prod-col">
          <view
            class="col-item"
            bindtap="myCollectionHandle"
            @click="collectionClick"
          >
            <view class="num" v-if="likeList">{{ collectListLength }}</view>
            <view class="num" v-else>0</view>
            <view class="tit">我的收藏</view>
          </view>
          <view class="col-item">
            <view class="num">5</view>
            <view class="tit">我的消息</view>
          </view>
          <view class="col-item">
            <view class="num">3</view>
            <view class="tit">我的足迹</view>
          </view>
          <view class="col-item">
            <view class="num">0</view>
            <view class="tit" @click="lntegralClick">我的积分</view>
          </view>
        </view>
      </view>

      <!-- 地址 -->
      <view class="my-menu">
        <view class="menu-item" @click="AddressClick">
          <view class="i-name">
            <image src="../../static/icon/myAddr.png" />
            <view>收货地址</view>
          </view>
          <view class="arrowhead"></view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { get_collect_List_length } from "@/services/my";
import { save_user_info, _login } from "@/services/my.js";
import { get_orderList} from "@/services/orderlist";
export default {
  data() {
    return {
      show: true,
      avatarUrl:
        "https://mmbiz.qpic.cn/mmbiz/icTdbqWNOwNRna42FI242Lcia07jQodd2FJGIYQfG0LAJGFxM4FbnQP6yfMxBgJ0F3YRqJCJ1aPAK2dQagdusBZg/0",
      title: "收货地址",
      likeList: [],
      collectListLength: 0,
      orderListLength:0,
      arrowheadList: [
        {
          image: "../../static/icon/toPay.png",
          txt: "待支付",
          id: 20229141,
        },
        {
          image: "../../static/icon/toDelivery.png",
          txt: "待发货",
          id: 20229142,
        },
        {
          image: "../../static/icon/toTake.png",
          txt: "待收货",
          id: 20229143,
        },
        {
          image: "../../static/icon/toComment.png",
          txt: "已完成",
          id: 20229144,
        },
      ],
      status:1
    };
  },
  async onLoad() {
    await this.login();
    const res = await get_collect_List_length();
    this.collectListLength = res;
    const result = await get_orderList({
        current: 0,
        size: 12,
        status: 1,
      });
      console.log(result);
      this.orderListLength = result.records.length;
  },

  methods: {
    onChooseAvatar(e) {
      const { avatarUrl } = e.detail;
      this.setData({
        avatarUrl,
      });
    },
    //点击跳转地址页面
    AddressClick() {
      this.$goPage({
        url: "../../detailPkg/address/index",
      });
    },
    //绑定手机号BindPhone
    async BindPhone() {
      uni.navigateTo({
        url: "/pages/BindPhone/index",
      });
    },
    //点击跳转全部订单
    async orderListClick() {
      this.$goPage({
        url: "/pages/orderList/index",
        query: {
          status: 0,
        },
      });
    },
    //点击跳转我的积分
    async lntegralClick() {
      uni.navigateTo({
        url: "/pages/lntegral/index",
      });
    },
    //点击跳转收藏页面
    async collectionClick() {
      this.$goPage({
        url: "/pages/collection/index",
      });
    },
    payorder(val) {
      if (val === "待支付") {
        this.$goPage({
          url: "/pages/orderList/index",
          query: {
            status: 1,
          },
        });
      }
      else if(val==='待发货'){
        this.$goPage({
          url: "/pages/orderList/index",
          query: {
            status: 2,
          },
        });
      }
      else if(val==='待收货'){
        this.$goPage({
          url: "/pages/orderList/index",
          query: {
            status: 3,
          },
        });
      }
      else if(val==='已完成'){
        this.$goPage({
          url: "/pages/orderList/index",
          query: {
            status: 5,
          },
        });
      }
    },
    toLike() {
      console.log("收藏");
    },

    async login() {
      const token = uni.getStorageSync("token");
      if (!token) {
        // 提示用户授权
        this.show = true;
      } else {
        // 有token不需要授权
        this.show = false;
      }
      const res = await uni.login();
      // 根据code发起请求
      console.log(res);
      const result = await _login({
        principal: res[1].code,
      });
      console.log(result.access_token);
      // 存到本地存储
      uni.setStorageSync("token", result.access_token);
    },
    getUserInfo() {
      uni.getUserProfile({
        desc: "获取用户信息授权",
        async success(res) {
          const { avatarUrl, nickName } = res.userInfo;
          // 设置  用户信息
          const { statusCode } = await save_user_info({
            avatarUrl,
            nickName,
          });
          console.log(statusCode);
        },
        fail(err) {
          console.log(err);
        },
      });
    },
  },
};
</script>
<style scoped>
.userInfo {
  position: relative;
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 30rpx 0;
}
.userInfo-avatar {
  overflow: hidden;
  display: block;
  width: 160rpx;
  height: 160rpx;
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
}
.userInfo-name {
  font-size: 30rpx;
  font-weight: bold;
  margin-top: 20rpx;
}
.phone {
  position: relative;
  background: #fff;
  height: 80rpx;
  line-height: 80rpx;
  padding: 0 30rpx;
  border-top: 2rpx solid #f7f7f7;
  border-bottom: 2rpx solid #f7f7f7;
}
.show-tip {
  font-size: 26rpx;
}
.goToBind {
  border-radius: 8rpx;
  font-size: 28rpx;
  color: #e24b4b;
  font-weight: bold;
}
.list-cont {
  width: 100%;
  background: #f7f7f7;
  margin-top: 20rpx;
}
.total-order {
  background: #ffffff;
}

.prod-col {
  margin-top: 20rpx;
  background: #fff;
  display: flex;
  justify-content: space-around;
  padding: 30rpx 0 10rpx 0;
  font-size: 12px;
}
.prod-col .col-item {
  text-align: center;
}
.prod-col .col-item .num {
  font-size: 16px;
  font-weight: 700;
  color: #3a86b9;
}

.prod-col .col-item .tit {
  line-height: 34px;
}

.my-menu {
  background-color: #fff;
  margin-top: 20rpx;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100rpx;
  padding: 0 30rpx;
}
.i-name {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.i-name image {
  width: 25px;
  height: 25px;
  margin-bottom: 0;
  margin-right: 10px;
}
text {
  font-size: 28rpx;
}
.arrowhead {
  width: 15rpx;
  height: 15rpx;
  border-top: 2rpx solid #999;
  border-right: 2rpx solid #999;
  transform: rotate(45deg);
  margin-left: 10rpx;
}

.order-title {
  display: flex;
  justify-content: space-between;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 30rpx;
  border-bottom: 1px solid #f7f7f7;
  padding: 0 30rpx;
}
.checkmore {
  font-size: 22rpx;
  color: #80848f;
  display: flex;
  align-items: center;
}
.checkmore text:nth-child(1) {
  font-size: 11px;
}
.arrowhead {
  width: 15rpx;
  height: 15rpx;
  border-top: 2rpx solid #999;
  border-right: 2rpx solid #999;
  transform: rotate(45deg);
  margin-left: 10rpx;
}
.procedure {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25rpx;
  height: 160rpx;
}
.items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
image {
  width: 70rpx;
  height: 70rpx;
  margin-bottom: 20rpx;
}
.position{
  position: absolute;
  right: 0;
  top: -5px;
  border: 1px solid red;
  color: red;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
</style>
