/<template>
  <view class="collection">
    <view v-for="(item,index) in collectList" :key="index" class="collection_item" @click="gotodetail(item.prodId)">
      <img :src="item.pic" alt="">
      <view>{{item.prodName}}</view>
      <view>￥{{item.price}}</view>
    </view>
  </view>
</template>

<script>
import {get_collectList} from '@/services/collection'
export default {
  data(){
    return{
      collectList:[]
    }
  },
  onLoad(){
    this.getCollectList()
  },
  methods: {
    async getCollectList(){
      const res=await get_collectList()
      this.collectList=res.records
    },
    gotodetail(id) {
      this.$goPage({
        url: "/pages/detail/index",
        query: {
          prodId: id,
        },
      });
    },
  },
}
</script>

<style lang='scss' scoped>
  .collection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    .collection_item{
      width: 48%;
      img{
        width: 170px;
        height: 170px;
        border-radius: 10px;
      }
      >view{
        font-size: 13px;
      }
      >view:nth-child(3){
        color: red;
        margin-top: 15px;
        margin-left: 5px;
      }
    }
  }
</style>