<template>
  <view class="view">
    <view class="header">
      <img class="sou" src="../../static/icon/search.png" alt="" />
      <text class="sear-input" @click="toSearch">搜索您想要的商品</text>
    </view>
    <view id="wrap">
      <view class="leftWrap">
        <view
          v-for="(item, index) in leftlist"
          :key="index"
          class="leftItem"
          @click="setIndex(item, index)"
        >
          <h3
            @click="changeIndex(index)"
            :class="index === active ? 'active' : ''">
            {{ item.categoryName }}
          </h3>
        </view>
      </view>
      <view  class="rightWrap">
        <view class="topimg"><img :src="categoryImg" alt="" /></view>
        <li
          class="lis"
          v-for="(item, index) in classifyList"
          :key="index"
          @click="gotodetail(item.prodId)"
        >
          <view class="imgs">
            <img class="pics" :src="item.pic" alt="" />
          </view>
          <view class="rights">
            <h2 class="prodName">{{ item.prodName }}</h2>
            <h3 class="brief">{{ item.brief }}</h3>
            <h1 class="price">￥{{ item.price }}</h1>
          </view>
        </li>
      </view>
    </view>
  </view>
</template>

<script>
import { classifyLeft,classifyRight} from "../../services/classify";
export default {
  data() {
    return {
      leftlist: [], //左侧数据
      active: 0,
      rightlist: [],//右侧数据
      categoryImg: "",
      categoryIndex: 85,//tab切换
      classifyList:[]
    };
  },
  onLoad() {
    this.getLeft(); //左侧方法
    this.getRight();//右侧方法
    console.log(this.rightlist);
  },
  methods: {
    // 获取左侧数据
    async getLeft() {
      //左侧接口
      const res = await classifyLeft({});
      this.leftlist = res;
      this.categoryImg = res[0].pic;
    },
    // 获取右侧数据
    async getRight() {
      //右侧接口
      const id=this.categoryIndex
      const res = await classifyRight(id);
      this.classifyList = res.records;
      console.log(this.classifyList);
    },
    setIndex(item, index) {
      this.categoryIndex = item.categoryId;
      uni.setStorageSync("list", this.getRight());
      this.categoryImg = item.pic;
    },
    changeIndex(index) {
      this.active = index;
      this.ceList = uni.getStorageSync("list");
    },
     //搜索
    toSearch(){
      this.$goPage({
        url:'/pages/search/index',
      })
  },
  gotodetail(id) {
      this.$goPage({
        url: "/pages/detail/index",
        query: {
          prodId: id,
        },
      });
    },
  },
 
};
</script>

<style lang="scss" scoped>
.view {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.rights {
  margin-left: 12rpx;
}
.header {
  height: 60rpx;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  border-radius: 50rpx;
  text-align: center;
  margin:10px auto;
  font-size: 13px;
}
.topimg {
  width: 510rpx;
  height: 144rpx;
  overflow: hidden;
  margin-bottom: 18rpx;
  margin-left: 20rpx;
  margin-top: 24rpx;
}
.topimg img {
  width: 100%;
  height: 100%;
}
.prodName {
  font-size: 26rpx;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.brief {
  color: #777;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.price {
  font-size: 28rpx;
  color: red;
}
.lis {
  display: flex;
  width: 500rpx;
  height: 170rpx;
  border-bottom: 1px solid #eee;
  font-size: 24rpx;
  line-height: 50rpx;
  padding-left: 20rpx;
}
.imgs {
  text-align: center;
  width: 150rpx;
  height: 150rpx;
  line-height: 150rpx;
  font-size: 0;
}
.imgs .pics {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8rpx;
  vertical-align: middle;
  margin-top: 10rpx;
  margin-right: 16rpx;
}

.sou {
  width: 32rpx;
  height: 32rpx;
  margin-right: 10rpx;
}

#wrap {
  position: fixed;
  display: flex;
  overflow: hidden;
  margin-top: 100rpx;
  height: calc(100% - 100rpx);
}
.leftItem {
  line-height: 90rpx;
  height: 90rpx;
  text-align: center;
  border-bottom: 2rpx silid #e3e3e3;
  position: relative;
  color: #777;
  font-size: 28rpx;
}
.leftWrap {
  width: 200rpx;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f6f7;
  overflow: scroll;
  z-index: 2;
}
.lefts {
  width: 200rpx;
  height: 660rpx;
  background-color: #f5f6f7;
}
.rightWrap {
  width: 550rpx;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
}
.active {
  background-color: #fff;
  border-left: 3px solid red;
  color: red;
  font-weight: bold;
}

</style>