<template>
  <view class="index">
    <view class="index_top">
      <button class="search_btn" @click="toSearch">搜索</button>
    </view>
    <view>
      <u-swiper
            :list="swiperList"
            indicator
            indicatorMode="dot"
            circular
            indicatorActiveColor="rgb(103, 248, 243)"
    ></u-swiper>
    </view>
    <view class="cat-item">
      <view class="item" @click="tonewarrival">
        <image class="img" src="../../static/neweveryday.png"></image>
        <text>新品推荐</text>
      </view>
      <view class="item" @click="totimelimited">
        <image class="img" src="../../static/newProd.png"></image>
        <text>限时特惠</text>
      </view>
      <view class="item" @click="todailylooting">
        <image class="img" src="../../static/timePrice.png"></image>
        <text>每日疯抢</text>
      </view>
    </view>

    <view class="tag">
      <view>
        <u-notice-bar
          :text="tagList"
          bgColor="#fff"
          direction="column"
          url="../../static/more.png"
          mode="link"
          @click="tonews"
        ></u-notice-bar>
      </view>
    </view>

    <view class="big" v-for="(item, index) in shopTitle" :key="index">
      <view class="bluebac" v-if="index === 0"> </view>
      <view v-if="item.id === 1">
        <view class="title">
          <text>{{ item.title }}</text>
        </view>
      </view>
      <view v-else>
        <view class="title1">
          <text>{{ item.title }}</text>
          <text class="more1" @click="tomore(item.id)">更多 > </text>
        </view>
      </view>
      <view class="item-cont" v-if="item.id === 1">
        <view class="prod-item" v-for="(it, ind) in shopTitleCon[index]" :key="ind" @click="gotodetail(it.prodId)">
          <view class="imagecont">
            <img :src="it.pic" alt="" />
          </view>
          <view class="prod-text">{{ it.prodName }}</view>
          <view class="price">
            <text class="symbol">￥</text>
            <text>{{ it.price }}</text>
          </view>
        </view>
      </view>

      <!-- 商城热卖 -->
      <view class="shopBig" v-if="item.id === 2">

        <view class="shopItem" v-for="(it, ind) in shopTitleCon[index]" :key="ind"  @click="gotodetail(it.prodId)">
          <view class="imagecont">
            <img :src="it.pic" alt="图片生气了" />
          </view>
          <view class="shop-text">{{ it.prodName }}</view>
          <view class="price">
            <text>
              <text class="symbol">￥</text>
              <text>{{ it.price }}</text>
            </text>
            <view>
              <img class="shopicon" src="../../static/basket-sel.png" alt="" />
            </view>
          </view>
        </view>
      </view>

      <!-- 更多宝贝 -->
      <view class="moreshop" v-if="item.id === 3">

        <view class="moreItem" v-for="(it, ind) in shopTitleCon[index]" :key="ind" @click="gotodetail(it.prodId)">
          <view class="moreleft">
            <img :src="it.pic" alt="" />
          </view>
          <view class="moreright">
            <view class="more-text">{{ it.prodName }}</view>
            <view class="price">
              <text>
                <text class="symbol">￥</text>
                <text>{{ it.price }}</text>
              </text>
              <view>
                <img
                  class="shopicon"
                  src="../../static/basket-sel.png"
                  alt=""
                />
              </view>
            </view>
          </view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import {
  get_swiper_img,
  get_tag_list,
  getTag,
  getTagProd,
} from "@/services/index";
import vanButton from "@/wxcomponents/vant/dist/button/index";
import vanGrid from "@/wxcomponents/vant/dist/grid/index";
import vanGridItem from "@/wxcomponents/vant/dist/grid-item/index";
import vanTag from "@/wxcomponents/vant/dist/tag/index";
export default {
  components: {
    vanButton,
    vanGrid,
    vanGridItem,
    vanTag,
  },
  data() {
    return {
      info: [
        {
          content: "内容 A",
        },
        {
          content: "内容 B",
        },
        {
          content: "内容 C",
        },
      ],
      current: 0,
      mode: "round",
      swiperList: [],
      tagList: [],
      shopTitle: [],
      shopTitleCon: [],
    };
  },
  async onLoad() {
    await this.init();
  },
  methods: {
    async init() {
      const swiper = await get_swiper_img();
      const tag = await get_tag_list();
      swiper.forEach((item,index)=>{
        this.swiperList.push(item.imgUrl)
      })
      tag.forEach((item, index) => {
        this.tagList.push(item.title);
      });
      const daynew = await getTag();
      console.log(daynew);
      this.shopTitle = daynew;
      daynew.forEach(async (item, index) => {
        const res = await getTagProd({
          tagId: item.id,
          size: 6,
        });
        this.shopTitleCon.push(res.records);
      });
    },
    change(e) {
      this.current = e.detail.current;
    },
    tonewarrival() {
      this.$goPage({
        url: "/pages/newarrivals/index",
      });
    },
    toSearch() {
      this.$goPage({
        url: "/pages/search/index",
      });
    },
    totimelimited() {
      this.$goPage({
        url: "/pages/timelimited/index",
      });
    },
    todailylooting() {
      this.$goPage({
        url: "/pages/dailylooting/index",
      });
    },
    tonews() {
      this.$goPage({
        url: "/pages/news/index",
      });
    },
    tomore(id) {
      if (id === 2) {
        this.$goPage({
          url: "/pages/moreShop/index",
        });
      } else if (id === 3) {
        this.$goPage({
          url: "/pages/moreBaby/index",
        });
      }
    },

    gotodetail(id) {
      this.$goPage({
        url: "/pages/detail/index",
        query: {
          prodId: id,
        },
      });
    },
  },
};
</script>

<style lang="scss">
.u-demo-block__content {
  @include flex(column);
}
</style>

<style scoped lang="scss">
.index {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.index_top {
  width: 100%;
  height: 80rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  .search_btn {
    width: 100%;
    height: 60rpx;
    font-size: 25rpx;
    border-radius: 30rpx;
    color: #c1c1c1;
    border-color: #f6f6f6;
    border: none;
  }
}
.swiper-item {
  width: 100%;
  height: 100%;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.cat-item {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding-top: 20rpx;
  padding-bottom: 30rpx;
}

.cat-item .item {
  text-align: center;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.cat-item .item > image {
  width: 75rpx;
  height: 75rpx;
}

.cat-item .item text {
  font-size: 26rpx;
  margin-top: 20rpx;
}
.item-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20rpx;
}
.big {
  position: relative;
}
.title {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20rpx;
  color: #fff;
  margin-top: 10rpx;
  .more {
    width: 180rpx;
    height: 50rpx;
    border-radius: 50rpx;
    background: #b0d5ed;
    text-align: center;
    line-height: 50rpx;
  }
}
.title1 {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20rpx;
  margin-top: 10rpx;
  .more1 {
    width: 180rpx;
    height: 50rpx;
    border-radius: 50rpx;
    text-align: center;
    line-height: 50rpx;
  }
}
.bluebac {
  width: 100%;
  height: 354rpx;
  position: absolute;
  background-color: #3d9ad7;
  border-radius: 10rpx 10rpx 0 0;
  left: 0;
  z-index: -1;
  top: 0;
}
.prod-item {
  width: 30%;
  margin-left: 2vw;
  margin-top: 4vh;
  border: solid 1px #dfeef8;
  border-radius: 20rpx 20rpx 10rpx 10rpx;
  background: #fff;
  box-shadow: 0rpx 5rpx #dfeef8;
  .imagecont {
    width: 100%;
    height: 200rpx;
    > image {
      width: 100%;
      height: 100%;
      border-radius: 20rpx 20rpx 0 0;
    }
  }
  .price {
    width: 100%;
    color: rgb(249, 78, 78);
  }
  .prod-text {
    font-size: 28rpx;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: block-axis;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.shopBig {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .shopItem {
    width: 45%;
    border: solid 1px #dfeef8;
    margin-left: 3vw;
    box-sizing: border-box;
    padding: 20rpx;
    margin-top: 1vh;
    margin-bottom: 2vh;
    box-shadow: 0rpx 5rpx #dfeef8;
    background: #fff;
    .imagecont {
      width: 100%;
      > image {
        width: 100%;
        height: 300rpx;
      }
    }
    .shop-text {
      font-size: 28rpx;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .price {
      padding: 10rpx 0rpx;
      color: rgb(249, 69, 69);
      display: flex;
      justify-content: space-between;
    }
    .shopicon {
      width: 40rpx;
      height: 40rpx;
    }
  }
}
.moreshop {
  width: 100%;
  .moreItem {
    width: 100%;
    height: 220rpx;
    margin-top: 1vh;
    margin-bottom: 2vh;
    display: flex;
    border-top: solid 1px #f1f1f1;
    background: #fff;
    .moreleft {
      width: 240rpx;
      height: 220rpx;
      box-sizing: border-box;
      padding: 20rpx;
      > image {
        width: 100%;
        height: 100%;
      }
    }
    .moreright {
      flex: 1;
      padding: 20rpx;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: space-between;
      .more-text {
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .price {
        margin-top: 4vh;
        display: flex;
        justify-content: space-between;
        .shopicon {
          width: 30rpx;
          height: 30rpx;
        }
      }
    }
  }
}
</style>
