<template>
  <view>
    {{initData.title}}
    <view v-html="initData.content"></view>
  </view>
</template>

<script>
import { get_detai } from '../../services/newDaily'
export default {
    data(){
        return{
            initData:[]
        }
    },
    async onLoad(options){
        await this.init(options.id)
    },
    methods: {
        async init(Id) {
            const initData=await get_detai(Id)
            initData.content=initData.content.replace(/width\=\"\d+"/g,'width=100%').replace(/height\=\"\d+"/g,"")
            this.initData=initData
        },
    },
}
</script>

<style>

</style>