<script>
export default {
  onLaunch: function () {
    console.log("App Launch");
  },
  onShow: function () {
    console.log("App Show");
  },
  onHide: function () {
    console.log("App Hide");
  },
};
</script>

<style lang="scss">
/*每个页面公共css */
@import "@/uni_modules/uview-ui/index.scss";
@import "./wxcomponents/vant/dist/common/index.wxss";
html,
body {
  width: 100%;
  height: 100%;
}
.detail_center_sku van-tag view {
  padding: 1px 10px 1px 10px;
  margin-bottom: 5px;
}
.detail .van-popup--bottom {
  height: 60%;
  border-radius: 0 !important;
}
.order .van-popup--bottom {
  height: 70%;
  border-radius: 0 !important;
}
.detail_top_img >view {
  width: 100% !important;
  height: 100% !important;
}
.detail_top_img swiper {
  width: 100% !important;
  height: 100% !important;
}
.detail_top_img swiper-item {
  width: 100% !important;
  height: 100% !important;
}
.detail_top_img image{
  width: 100% !important;
  height: 100% !important;
}
.detail_center_pic img{
	width: 100px;
}
.detail button{
  border: 0 !important;
}
</style>
