/
<template>
  <view class="orderdetail">
    <view class="orderdetail_box">
      <view class="orderdetail_top">
        <view>
          <view>{{ orderdetail.userAddrDto.receiver }}</view>
          <view>{{ orderdetail.userAddrDto.mobile }}</view>
        </view>
        <view
          >{{ orderdetail.userAddrDto.province
          }}{{ orderdetail.userAddrDto.city }}{{ orderdetail.userAddrDto.area
          }}{{ orderdetail.userAddrDto.addr }}</view
        >
      </view>
      <view class="orderdetail_conter">
        <view class="orderdetail_conter_top">
          <view class="orderdetail_conter_top_img">
            <img :src="orderdetail.orderItemDtos[0].pic" alt="" />
          </view>
          <view class="orderdetail_conter_top_content">
            <view>{{ orderdetail.orderItemDtos[0].prodName }}</view>
            <view>
              <view>数量：{{ orderdetail.orderItemDtos[0].prodCount }}</view>
              <view>{{ orderdetail.orderItemDtos[0].skuName }}</view>
            </view>
            <view>
              <view>￥{{ orderdetail.orderItemDtos[0].price }}</view>
              <view>
                <view>申请售后</view>
                <view @click="gotoShopcar">加购物车</view>
              </view>
            </view>
          </view>
        </view>
        <view class="orderdetail_conter_context">
          <view class="orderdetail_conter_context_top">
            <view class="orderdetail_conter_context_top_ordernumber">
              <view
                >订单编号：<text>{{ orderNumber }}</text></view
              >
              <view @click="copyClick">复制</view>
            </view>
            <view class="orderdetail_conter_context_top_order_time">
              下单时间：<text>{{ orderdetail.createTime }}</text>
            </view>
          </view>
          <view class="orderdetail_conter_context_bottom">
            <view>
              <view>支付方式：</view>
              <view>微信支付</view>
            </view>
            <view>
              <view>配送方式：</view>
              <view>普通配送</view>
            </view>
            <view>
              <view>订单备注：</view>
              <view></view>
            </view>
          </view>
        </view>
      </view>
      <div class="orderdetail_bottom">
        <view class="orderdetail_bottom_totalprice">
          <view>订单总额：</view>
          <view>￥{{ orderdetail.total }}</view>
        </view>
        <view class="orderdetail_bottom_freight">
          <view>运费：</view>
          <view>￥0.00</view>
        </view>
        <view class="orderdetail_bottom_discount">
          <view>优惠券：</view>
          <view>￥0.00</view>
        </view>
      </div>
    </view>
    <view class="orderdetail_footer">
      <view> 删除订单 </view>
      <view>
        <view>联系客服</view>
        <view>再次购买</view>
      </view>
    </view>
  </view>
</template>

<script>
import message from '@/utils/message.js'
import { get_orderdetail } from "@/services/orderdetail";
export default {
  data() {
    return {
      orderdetail: {},
      orderNumber: 0,
    };
  },
  async onLoad(options) {
    console.log(options);
    this.orderNumber = options.orderNumber;
    const res = await get_orderdetail({
      orderNumber: options.orderNumber,
    });
    this.orderdetail = res;
  },
  methods: {
      copyClick() {
          message.toast('复制成功')
      },
      gotoShopcar(){
          this.$goPage({
              url:'/pages/detail/index',
              query:{
                  prodId:this.orderdetail.orderItemDtos[0].prodId
              }
          })
      }
  },
};
</script>

<style lang="scss" scoped>
.orderdetail {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  .orderdetail_box {
    width: 100%;
    height: calc(100% - 50px);
    .orderdetail_top {
      width: 100%;
      height: 50px;
      padding: 10px;
      font-size: 13px;
      box-sizing: border-box;
      background-color: #fff;
      > view:nth-child(1) {
        display: flex;
        > view:nth-child(1) {
          margin-right: 20px;
        }
      }
      > view:nth-child(2) {
        color: #999999;
      }
    }
    .orderdetail_conter {
      width: 100%;
      .orderdetail_conter_top {
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        margin-top: 8px;
        .orderdetail_conter_top_img {
          width: 20%;
          img {
            width: 75px;
            height: 75px;
          }
        }
        .orderdetail_conter_top_content {
          width: 73%;
          > view:nth-child(1) {
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
          }
          > view:nth-child(2) {
            color: #999999;
            display: flex;
            font-size: 12px;
            margin-bottom: 13px;
          }
          > view:nth-child(3) {
            display: flex;
            font-size: 12px;
            justify-content: space-between;
            align-items: center;
            > view:nth-child(1) {
              font-size: 15px;
            }
            > view:nth-child(2) {
              display: flex;
              view{
                  margin-left: 10px;
                  padding: 5px 10px;
                  border: 1px solid #e4e4e4;
                  border-radius: 20px;
              }
            }
            
          }
        }
      }
    }
    .orderdetail_conter_context {
      width: 100%;
      margin-top: 8px;
      .orderdetail_conter_context_top {
        width: 100%;
        padding: 10px;
        font-size: 13px;
        box-sizing: border-box;
        background-color: #fff;
        .orderdetail_conter_context_top_ordernumber {
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          > view:nth-child(1) {
            color: #999999;
            text {
              color: #000;
            }
          }
        }
        .orderdetail_conter_context_top_order_time {
          width: 100%;
          height: 40px;
          color: #999999;
          display: flex;
          align-items: center;
          text {
            color: #000;
          }
        }
      }
      .orderdetail_conter_context_bottom {
        padding: 13px 10px;
        box-sizing: border-box;
        background-color: #fff;
        margin-top: 1px;
        margin-bottom: 8px;
        > view {
          width: 100%;
          height: 30px;
          display: flex;
          align-items: center;
          font-size: 13px;
          > view:nth-child(1) {
            color: #999999;
            text {
              color: #000;
            }
          }
        }
      }
    }
    .orderdetail_bottom {
      background-color: #fff;
      padding: 12px 10px;
      > view {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        > view:nth-child(1) {
          color: #999999;
        }
        > view:nth-child(2) {
          color: red;
        }
      }
    }
  }
  .orderdetail_footer {
    background-color: #fff;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 10px 0 1px #888888;
    > view:nth-child(1) {
      color: #333;
      font-size: 12px;
    }
    > view:nth-child(2) {
      display: flex;
      font-size: 13px;
      view {
        margin-left: 10px;
      }
      > view:nth-child(1) {
        border: 1px solid #e4e4e4;
        padding: 5px 10px;
        border-radius: 20px;
      }
      > view:nth-child(2) {
        border: 1px solid #e4e4e4;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: #eb2444;
        color: #fff;
      }
    }
  }
}
</style>
