<template>
  <!-- 新增地址 -->
  <view class="content">
    <!--input列表 -->
    <view class="input-box">
      <view class="section">
        <text>收 货 人</text>
        <input placeholder="姓名" v-model="addressinp.receiver" />
      </view>
      <view class="section">
        <text>手机号码</text>
        <input placeholder="11位手机号码" v-model="addressinp.mobile" />
      </view>
      <view class="section">
        <text>所在地区</text>
        <picker
          mode="region"
          @change="bindRegionChange"
          :value="region"
          :custom-item="customItem"
        >
          <view class="picker">
            {{ region[0] }} {{ region[1] }} {{ region[2] }}
            <view class="arrow">
              <image src="../../static/icon/more.png"></image>
            </view>
          </view>
        </picker>
      </view>
      <view class="section">
        <text>详细地址</text>
        <input placeholder="如楼号/单元/门牌号" v-model="addressinp.addr"/>
      </view>
    </view>
    <!-- 功能按钮 -->
    <view class="btn-box">
      <view class="keep btn" @click="onSaveAddr()">
        <text>保存收货地址</text>
      </view>
    </view>
  </view>
</template>

<script>
import { addAddrApi } from "@/services/list";

export default {
  data() {
    return {
      addresslist:{},
      region: ["北京市", "市辖区", "东城区"],
      customItem: "",
      value: [],
      addressinp: {
        receiver: "",
        mobile: "",
        addr: "",
      },
    };
  },
  onLoad() {},
  methods: {
    //三级联动
    bindRegionChange(e) {
      // console.log(e,'e---');
      this.region = e.detail.value;
    },

    async onSaveAddr(e) {
      const receiver = this.addressinp.receiver;
      const mobile = this.addressinp.mobile;
      const addr = this.addressinp.addr;

      if (!receiver) {
        uni.showToast({
          title: "请输入收货人姓名",
          icon: "none",
        });
        return;
      }
      var regexp = /^[1]([3-9])[0-9]{9}$/;
      if (!regexp.test(mobile)) {
        uni.showToast({
          title: "请输入正确的手机号码",
          icon: "none",
        });
        return;
      }
      if (!addr) {
        uni.showToast({
          title: "请输入详细地址",
          icon: "none",
        });
        return;
      }
      // console.log(this.region,"11111111111");
      await addAddrApi({
        addr: this.addressinp.addr,
        addrId: 0,
        area: this.region[2],
        areaId: 110101000000,
        city: this.region[1],
        cityId: 110100000000,
        mobile: this.addressinp.mobile,
        province: this.region[0],
        provinceId: 110000000000,
        receiver: this.addressinp.receiver,
        userType: 0,
      });
      await this.$goPage({
        url: "/pages/address/index",
        redirect: false,
      });
    },

  },
};
</script>

<style scoped>
.content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.input-box {
  margin-bottom: 50rpx;
  background: #fff;
  padding: 0 20rpx;
}

.input-box .section {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 28rpx;
  padding: 30rpx 0;
  line-height: 48rpx;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 2rpx solid #e5e5e5;
}

.input-box .section text {
  width: 20%;
  color: #333;
}

.input-box .section input {
  width: 70%;
  padding: 0 20rpx;
  color: #333;
}
.input-box .section .picker {
  display: flex;
}
.input-box .section .arrow {
  width: 28rpx;
  height: 28rpx;
  position: fixed;
  right: 20rpx;
  top: 260rpx;
}

.input-box .section .arrow image {
  width: 100%;
  height: 100%;
  /* //垂直对齐 */
  vertical-align: top;
}
/* 功能按钮 */

.btn-box {
  padding: 5px 10px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.btn-box text {
  font-size: 30rpx;
}

.btn-box .keep.btn {
  width: 60%;
  height: 80rpx;
  line-height: 80rpx;
  margin: auto;
  text-align: center;
  border: 1rpx solid #eb2444;
  border-radius: 50rpx;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05),
    0 1px 0 rgba(255, 255, 255, 0.3);
}

.btn-box .keep.btn {
  color: #fff;
  background-color: #eb2444;
}
</style>
