/
<template>
  <view class="detail">
    <view class="detail_box">
      <view class="detail_top">
        <view class="detail_top_img">
          <u-swiper :list="detailbanner[0]"></u-swiper>
        </view>
        <view class="detail_top_bottom">
          <view class="detail_top_bottom_head">
            <view class="detail_top_bottom_head_title">
              {{ detailList.prodName }}
            </view>
            <view class="detail_top_bottom_head_like">
              <view v-if="likeFlag">
                <van-icon
                  name="like"
                  size="22px"
                  color="red"
                  @click="setlikeFlag"
                />
              </view>
              <view v-else>
                <van-icon name="like-o" size="22px" @click="setlikeFlag" />
              </view>
              <view>收藏</view>
            </view>
          </view>
          <view class="detail_top_bottom_desc">{{ detailList.brief }}</view>
          <view class="detail_top_bottom_price">
            <!-- <span>￥</span><span>1</span>.01 -->
            <view v-if="!disabled"> ￥{{ skuObj.selectedPrice }} </view>
            <view v-else>无货</view>
          </view>
        </view>
      </view>
      <view class="detail_center">
        <view class="detail_center_checked" @click="showsheet">
          <view class="detail_center_checked_p"> 已选 </view>
          <view class="detail_center_checked_box">
            <view>{{ skuObj.defaultSkuList.join(",") }}1件</view>
          </view>
          <view class="detail_center_checked_ellipsis">
            <van-icon name="ellipsis" />
          </view>
        </view>
        <view class="detail_center_commont" @click="setCommontFlag">
          <view class="detail_center_commont_top">
            <view class="detail_center_commont_top_left">
              <span>评价</span>
              <span>好评0%</span>
            </view>
            <view class="detail_center_commont_top_right">
              <span>共0条</span>
              <span class=".arrowhead"></span>
            </view>
          </view>
          <view class="detail_center_commont_bottom">
            <view>全部[0]</view>
            <view>好评[0]</view>
            <view>中评[0]</view>
            <view>差评[0]</view>
            <view>有图[0]</view>
          </view>
        </view>
        <div class="detail_center_pic" v-html="detailList.content"></div>
      </view>
    </view>
    <view class="detail_bottom">
      <view class="detail_bottom_footer">
        <button open-type="contact">
          <van-icon name="service-o" size="25px" color="#c4c4c4" />
          <text>客服</text>
        </button>
        <view @click="gotoShopcar">
          <van-icon name="shopping-cart-o" size="25px" color="#c4c4c4" />
          <text>购物车</text>
        </view>
        <view @click="showsheet" :class="disabled ? 'buttonActive' : ''">
          加入购物车
        </view>
        <view @click="gotoOrder" :class="disabled ? 'buttonActive' : ''">
          立即购买
        </view>
      </view>
      <van-action-sheet :show="show">
        <view class="sku">
          <view class="sku_box">
            <view class="sku_top">
              <view class="sku_top_img">
                <img :src="skuObj.selectedPic" alt="" />
              </view>
              <view class="sku_top_content">
                <view class="sku_top_content_price">
                  <view class="sku_top_content_price_p">
                    <view v-if="!disabled"> ￥{{ skuObj.selectedPrice }} </view>
                    <view v-else>无货</view>
                  </view>
                  <view class="sku_top_content_price_text">
                    <view class="sku_top_content_price_text_p"> 已选 </view>
                    <view class="sku_top_content_price_text_box">
                      <view>{{ skuObj.defaultSkuList.join(",") }}</view>
                    </view>
                  </view>
                </view>
              </view>
              <view class="sku_top_none" @click="sheetFalse">X</view>
            </view>
            <view class="sku_center">
              <view class="sku_center_number">
                <view class="sku_center_number_p"> 数量 </view>
                <view class="sku_center_number_text">
                  <van-stepper
                    :value="skuObj.selectedCount"
                    @change="onChange"
                  />
                </view>
              </view>
              <view v-if="skuObj.propertiesList.length">
                <view
                  class="sku_center_edition"
                  v-for="(item, index) in skuObj.propertiesList"
                  :key="index"
                >
                  <view class="sku_center_edition_p">
                    {{ item.title }}
                  </view>
                  <view class="sku_center_edition_text">
                    <view
                      class="sku_center_edition_text_box"
                      v-for="(v, i) in item.titlePlus"
                      :key="i"
                      :class="[
                        isActive({
                          index: index,
                          item: v,
                        }),
                      ]"
                      @click="
                        handleSel({
                          index: index,
                          item: v,
                        })
                      "
                    >
                      {{ v }}
                    </view>
                  </view>
                </view>
              </view>
            </view>
          </view>
          <view class="sku_footer">
            <button
              @click="add_shopcar"
              :disabled="disabled"
              :class="disabled ? 'buttonActive' : ''"
            >
              加入购物车
            </button>
            <button
              @click="gotoOrder"
              :disabled="disabled"
              :class="disabled ? 'buttonActive' : ''"
            >
              立即购买
            </button>
          </view>
        </view>
      </van-action-sheet>
    </view>
    <view
      class="detail_commont"
      :class="commontFlag ? 'commontblock' : 'commontnone'"
    >
      <view class="detail_commont_top">
        <view class="detail_commont_top_left">
          <span>商品评价</span>
          <span>好评度0%</span>
        </view>
        <view class="detail_commont_top_right">
          <van-icon name="cross" size="20px" @click="commontnone" />
        </view>
      </view>
      <view class="detail_commont_center">
        <view>全部[0]</view>
        <view>好评[0]</view>
        <view>中评[0]</view>
        <view>差评[0]</view>
        <view>有图[0]</view>
      </view>
    </view>
  </view>
</template>

<script>
import message from "@/utils/message";
import {
  _get_detail_List,
  add_collect_List,
  flag_collect_List_id,
  add_shopcar_List,
} from "@/services/detail";
import vanStepper from "@/wxcomponents/vant/dist/stepper/index";
import vanActionSheet from "@/wxcomponents/vant/dist/action-sheet/index";
import vanGoodsActionIcon from "@/wxcomponents/vant/dist/goods-action-icon/index";
import vanGoodsActionButton from "@/wxcomponents/vant/dist/goods-action-button/index";
import vanGoodsAction from "@/wxcomponents/vant/dist/goods-action/index";
import vanIcon from "@/wxcomponents/vant/dist/icon/index";
import vanTag from "@/wxcomponents/vant/dist/tag/index";
export default {
  data() {
    return {
      show: false,
      detailList: {},
      detailbanner: [],
      skuObj: {
        defaultSkuList: [],
        propertiesList: [],
        bannerImg: [],
        selectedPrice: 0,
        selectedPic: "",
        selectedCount: 1,
      },
      disabled: false,
      likeFlag: false,
      commontFlag: false,
      skuId: 0,
    };
  },
  watch: {
    "skuObj.defaultSkuList"(val) {
      const currentSel = this.haveSkuItem(val);
      this.skuObj.selectedPrice = currentSel.price;
      this.skuObj.selectedPic = currentSel.pic;
    },
  },
  async onLoad(options) {
    this.init(options.prodId);
    const flag = await flag_collect_List_id(options.prodId);
    console.log(flag);
    if (typeof flag === "boolean") {
      this.likeFlag = true;
    } else {
      this.likeFlag = false;
    }
  },
  components: {
    vanTag,
    vanIcon,
    vanGoodsAction,
    vanGoodsActionButton,
    vanGoodsActionIcon,
    vanActionSheet,
    vanStepper,
  },
  methods: {
    async add_shopcar() {
      const res = await add_shopcar_List({
        basketId: 0,
        count: this.skuObj.selectedCount,
        prodId: this.detailList.prodId,
        shopId: this.detailList.shopId,
        skuId: this.skuId,
      });
      console.log(res, "-------res------");
      if (res.statusCode === 200) {
        message.toast("加入购物车成功");
        this.show=false
      }
    },
    async setlikeFlag() {
      add_collect_List(this.detailList.prodId);

      this.likeFlag = !this.likeFlag;
    },
    formatHTML(str) {
      return str
        .replace(/width\=\"\d+\"/g, 'width=100%"')
        .replace(/height\=\"\d+\"/g, "");
    },
    formatSKU(skuList) {
      // 判断skuList是否是空数组
      if (skuList.length) {
        const { properties, skuName } = skuList[0];
        this.skuObj.defaultSkuList = skuName.split(/\s/); //默认选中第一个
        if (properties) {
          this.skuObj.propertiesList = properties
            .split(";")
            .map((item, index) => {
              const [title] = item.split(":");
              const titlePlus = [
                ...new Set(
                  skuList.map(({ skuName }) => skuName.split(/\s/)[index])
                ),
              ];
              return {
                title,
                titlePlus,
              };
            });
        }
      }
    },
    async init(id) {
      const result = await _get_detail_List(id);

      result.content = this.formatHTML(result.content);
      this.detailList = result;
      this.formatSKU(result.skuList);
      this.detailbanner.push([...this.detailList.imgs.split(",")]);
      this.detailList.skuList.forEach((item) => {
        if (item.skuName === this.skuObj.defaultSkuList.join(" ")) {
          this.skuId = item.skuId;
        }
      });
    },
    showsheet() {
      this.show = true;
    },
    sheetFalse() {
      console.log(123);
      this.show = false;
    },
    onChange(value) {
      console.log(value);
      this.skuObj.selectedCount = value;
    },
    gotoOrder() {
      if (this.disabled===false) {
        this.$goPage({
          url: "/pages/order/index",
          query: {
            prodName: this.detailList.prodName,
            defaultSkuList: this.skuObj.defaultSkuList,
            selectedPrice: this.skuObj.selectedPrice,
            selectedPic: this.skuObj.selectedPic,
            selectedCount: this.skuObj.selectedCount,
            prodId: this.detailList.prodId,
            skuId: this.skuId,
            shopId: this.detailList.shopId,
          },
        });
      }
    },
    haveSkuItem(selectProtites) {
      return this.detailList.skuList.find(
        ({ skuName }) => selectProtites.join(" ") === skuName
      );
    },
    isActive({ index, item }) {
      const selectProtites = [...this.skuObj.defaultSkuList];
      selectProtites[index] = item;
      let flag = "";
      this.skuObj.defaultSkuList.forEach((v, i) => {
        if (index === i && item === v) {
          flag = "active";
        }
      });
      //选的东西  是否还有
      flag = this.haveSkuItem(selectProtites) ? flag : flag + "disabled";
      return flag;
    },
    handleSel({ index, item }) {
      this.disabled = this.isActive({ index, item }).trim() === "disabled";
      let { defaultSkuList } = this.skuObj;
      defaultSkuList[index] = item;
      this.skuObj.defaultSkuList = [...defaultSkuList];
      this.detailList.skuList.forEach((item) => {
        if (item.skuName === this.skuObj.defaultSkuList.join(" ")) {
          this.skuId = item.skuId;
        }
      });
    },
    setCommontFlag() {
      this.commontFlag = true;
    },
    commontnone() {
      this.commontFlag = false;
    },
    gotoShopcar() {
      this.$goPage({
        url: "/pages/shopcar/index",
        tabbar: true,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.detail {
  width: 100%;
  height: 100%;
  .detail_box {
    height: calc(100% - 50px);
    background-color: #f4f4f4;
    overflow: scroll;
    .detail_top {
      width: 100%;
      background-color: #fff;
      .detail_top_img {
        width: 100%;
        height: 280px;
        background-color: red;
        border-radius: 4%;
        view {
          width: 100% !important;
          height: 100% !important;
        }
      }
      .detail_top_bottom {
        width: 100%;
        height: 30%;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        box-sizing: border-box;
        .detail_top_bottom_head {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .detail_top_bottom_head_title {
            width: 85%;
          }
          .detail_top_bottom_head_like {
            font-size: 10px;
            color: #797979;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
        .detail_top_bottom_desc {
          width: 100%;
          color: #a7a7a7;
          font-size: 11px;
          margin-top: 5px;
        }
        .detail_top_bottom_price {
          width: 100%;
          color: red;
          font-size: 12px;
          margin-top: 15px;
          > span:nth-child(1) {
            font-size: 12px;
          }
          > span:nth-child(2) {
            font-size: 20px;
          }
        }
      }
    }
    .detail_center {
      width: 100%;
      margin-top: 10px;
      .detail_center_discount {
        width: 100%;
        background-color: #fff;
        display: flex;
        padding: 15px;
        box-sizing: border-box;
        font-size: 12px;
        .detail_center_p {
          width: 10%;
          color: #a7a7a7;
        }
        .detail_center_sku {
          width: 80%;
          display: flex;
          .detail_center_sku_box {
            width: 85%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            van-tag {
              margin-left: 10px;
            }
          }
        }
        .detail_center_box {
          width: 10%;
          display: flex;
          flex-direction: column;
        }
      }
      .detail_center_checked {
        width: 100%;
        margin-top: 10px;
        display: flex;
        font-size: 12px;
        padding: 15px;
        box-sizing: border-box;
        align-items: center;
        background-color: #fff;
        .detail_center_checked_p {
          width: 10%;
          color: #a7a7a7;
        }
        .detail_center_checked_box {
          width: 80%;
          display: flex;
          align-items: center;
          padding-left: 10px;
          box-sizing: border-box;
          font-size: 16px;
          font-weight: bold;
        }
        .detail_center_checked_ellipsis {
          width: 10%;
          display: flex;
          flex-direction: column;
        }
      }
      .detail_center_commont {
        width: 100%;
        margin-top: 10px;
        .detail_center_commont_top {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          display: flex;
          background-color: #fff;
          justify-content: space-between;
          .detail_center_commont_top_left {
            display: flex;
            align-items: center;
            > span:nth-child(1) {
              margin-right: 10px;
            }
            > span:nth-child(2) {
              font-size: 12px;
              color: red;
            }
          }
          .detail_center_commont_top_right {
            font-size: 12px;
            color: #6b6b6b;
            display: flex;
            align-items: center;
            > span:nth-child(2) {
              font-size: 20px;
              margin-left: 10px;
            }
          }
        }
        .detail_center_commont_bottom {
          margin-top: 2px;
          background-color: #fff;
          display: flex;
          justify-content: space-around;
          font-size: 12px;
          color: #6e6363;
          box-sizing: border-box;
          padding: 10px 0;
          view {
            background-color: #ffedef;
            padding: 5px 10px;
          }
        }
      }
      .detail_center_pic {
        width: 100% !important;
        img {
          width: 100px;
        }
        // rich-text{
        //   width: 100%;
        //   div{
        //     width: 100%;
        //     table{
        //     width: 100%;
        //     tr{
        //       width: 100%;
        //       td{
        //         width: 100%;
        //         img{
        //           width: 100%;
        //         }
        //       }
        //     }
        //   }
        //   }
        // }
      }
    }
  }
  .detail_bottom {
    width: 100%;
    height: 50px;
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
    align-content: space-between;

    .detail_bottom_footer {
      width: 100%;
      height: 100%;
      background-color: #fff;
      font-size: 10px;
      color: #666;
      display: flex;
      > button:nth-child(1) {
        width: 15%;
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        background-color: #fff !important;
        border-radius: 5px;
        box-sizing: border-box;
        color: #666;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        line-height: 1;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        text-align: center;
        text-decoration: none;
        padding-top: 7px;
        text {
          width: 100%;
          display: flex;
          font-size: 10px;
          justify-content: center;
          margin-top: 1px;
        }
      }
      > view:nth-child(2) {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      > view:nth-child(3) {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #584e61;
        color: #fff;
        font-size: 14px;
      }
      > view:nth-child(4) {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eb2444;
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
.sku {
  width: 100%;
  height: 100%;
  .sku_box {
    width: 100%;
    height: calc(100% - 50px);
    padding: 15px;
    box-sizing: border-box;
    .sku_top {
      height: 30%;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      position: relative;
      .sku_top_img {
        width: 30%;
        background-color: #fff;
        // position: absolute;
        img {
          width: 90%;
          height: 100%;
          margin-top: -10px;
          z-index: 99999;
        }
      }
      .sku_top_content {
        width: 65%;
        .sku_top_content_price {
          display: flex;
          flex-direction: column;
          .sku_top_content_price_p {
            margin-bottom: 15px;
            color: red;
            font-weight: 500;
            > span:nth-child(2) {
              font-size: 16px;
              margin-left: 5px;
              margin-right: 3px;
            }
          }
          .sku_top_content_price_text {
            display: flex;
            color: #404040;
            .sku_top_content_price_text_p {
              color: #797979;
              margin-right: 10px;
            }
          }
        }
      }
      .sku_top_none {
        width: 10%;
        display: flex;
        justify-content: flex-end;
      }
    }
    .sku_center {
      width: 100%;
      height: 70%;
      overflow: scroll;
      .sku_center_number {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        color: #797979;
        font-size: 12px;
      }
      .sku_center_edition {
        margin-top: 20px;
        .sku_center_edition_p {
          font-size: 12px;
          color: #797979;
          margin: 12px 0px;
        }

        .sku_center_edition_text {
          display: flex;
          .sku_center_edition_text_box {
            padding: 5px 7px;
            // background-color: #ff1e50;
            background-color: #f7f7f7;
            border-radius: 4px;
            margin-right: 10px;
            // color: #fff;
          }
        }
      }
      .sku_center_color {
        margin-top: 20px;
        .sku_center_color_p {
          font-size: 12px;
          color: #797979;
          margin: 12px 0px;
        }
        .sku_center_color_text {
          display: flex;
          .sku_center_color_text_box {
            padding: 5px 7px;
            // background-color: #ff1e50;
            background-color: #f7f7f7;
            border-radius: 4px;
            margin-right: 10px;
            // color: #fff;
          }
        }
      }
      .sku_center_size {
        margin-top: 20px;
        .sku_center_size_p {
          font-size: 12px;
          color: #797979;
          margin: 12px 0px;
        }
        .sku_center_size_text {
          display: flex;
          .sku_center_size_text_box {
            padding: 5px 7px;
            // background-color: #ff1e50;
            background-color: #f7f7f7;
            border-radius: 4px;
            margin-right: 10px;
            // color: #fff;
          }
        }
      }
    }
  }
  .sku_footer {
    width: 100%;
    height: 50px;
    display: flex;
    > button:nth-child(1) {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #584e61;
      color: #fff;
      font-size: 14px;
    }
    > button:nth-child(2) {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #eb2444;
      color: #fff;
      font-size: 14px;
    }
  }
}
.buttonActive {
  background-color: #dddddd !important;
  color: #fff !important;
}
button {
  border-radius: 0;
}
.active {
  background-color: #eb2444;
  color: #fff;
  border-color: transparent;
}
.sku_center_edition .active {
  background-color: #eb2444 !important;
  color: #fff;
  border-color: transparent;
}
.sku_center_edition .disabled {
  background-color: #fff !important;
  color: rgb(224, 220, 220) !important;
}
.detail_commont {
  width: 100%;
  height: calc(100% - 50px);
  background-color: #fff;
  .detail_commont_top {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    .detail_commont_top_left {
      display: flex;
      align-items: center;
      > span:nth-child(1) {
        margin-right: 10px;
      }
      > span:nth-child(2) {
        font-size: 12px;
        color: red;
      }
    }
    .detail_commont_top_right {
      font-size: 12px;
      color: #6b6b6b;
      display: flex;
      align-items: center;
      > span:nth-child(2) {
        font-size: 20px;
        margin-left: 10px;
      }
    }
  }
  .detail_commont_center {
    margin-top: 2px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: #6e6363;
    box-sizing: border-box;
    padding: 10px 0;
    view {
      background-color: #ffedef;
      padding: 5px 10px;
    }
  }
}
.commontnone {
  display: none;
}
.commontblock {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
}
.arrowhead {
  width: 15rpx;
  height: 15rpx;
  border-top: 2rpx solid #999;
  border-right: 2rpx solid #999;
  transform: rotate(45deg);
  margin-left: 10rpx;
}
</style>
