<template>
  <view class="broad">
    <view
      v-for="(item, index) in roomList"
      :key="index"
      class="broad_item"
      @click="toMybro(item.roomid)"
    >
      <view class="broad_img">
        <img :src="item.share_img" alt="" />
      </view>
      <view>
        <view class="broad_time"> 开播：{{ item.start_time }} </view>
        <view class="broad_text">
          {{ item.name }}
        </view>
        <view class="broad_user">
          <img class="head_img" :src="item.feeds_img" alt="" />
          <text class="user_name">
            {{ item.anchor_name }}
          </text>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
const moment = require("moment");
export default {
  data() {
    return {
      roomList: [],
    };
  },
  async onLoad() {
    //获取直播列表
    try {
      const cloud = await this.$cloud;
      const { result } = await cloud.callFunction({
        name: "liveroom", //云函数名
      });
      this.roomList = result.body.room_info;
    } catch (error) {
      console.log(error);
    }
    this.times();
    console.log(this.roomList);
  },
  methods: {
    times() {
      this.roomList.forEach((item, index) => {
        item.start_time = moment(item.start_time).format();
      });
    },
    toMybro(roomId) {
      let customParams = encodeURIComponent(
        JSON.stringify({ path: "pages/broadcast/index", pid: 1 })
      );
      uni.navigateTo({
        url: `plugin-private://wx2b03c6e691cd7370/pages/live-player-plugin?room_id=${roomId}&custom_params=${customParams}`,
      });
    },
  },
};
</script>

<style scoped lang="scss">
.broad {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20rpx;
  box-sizing: border-box;
  background-color: #f4f2f2;
  .broad_item {
    width: 45%;
    margin-left: 25rpx;
    margin-bottom: 40rpx;
    background-color: rgb(255, 255, 255);
    height: 500rpx;
    box-shadow: 2rpx 2rpx rgb(230, 228, 228);
    border-color: rgb(237, 237, 237);
    border-radius: 20rpx 20rpx 0rpx 0rpx;
    .broad_img {
      width: 100%;
      height: 300rpx;
      border-radius: 20rpx 20rpx 0rpx 0rpx;
      > img {
        width: 100%;
        height: 100%;
        border-radius: 20rpx 20rpx 0 0;
        object-fit: cover;
      }
    }
    .broad_time {
      width: 100%;
      padding: 0 20rpx;
      font-size: 24rpx;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin-top: 10rpx;
      box-sizing: border-box;
    }
    .broad_text {
      width: 100%;
      padding: 0 20rpx;
      margin-top: 10rpx;
      box-sizing: border-box;
    }
    .broad_user {
      padding: 0 20rpx;
      margin-top: 10rpx;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      .head_img {
        width: 80rpx;
        height: 80rpx;
        border-radius: 50%;
        object-fit: cover;
      }
      .user_name {
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }
}
</style>