/
<template>
  <view class="container">
    <!-- 头部菜单 -->
    <view class="order-tit">
      <text :class="status === 0 ? 'on' : ''" @click="allOrder">全部</text>
      <text :class="status === 1 ? 'on' : ''" @click="payOrder">待支付</text>
      <text :class="status === 2 ? 'on' : ''" @click="faOrder">待发货</text>
      <text :class="status === 3 ? 'on' : ''" @click="shouOrder">待收货</text>
      <text :class="status === 5 ? 'on' : ''" @click="finishOrder">已完成</text>
    </view>
    <!-- end 头部菜单 -->
    <view class="main">
      <view class="empty" v-if="orderList.length == 0">
        还没有任何相关订单
      </view>
      <view v-else class="order_list">
        <view
          v-for="(item, index) in orderList"
          :key="index"
          class="order_list_item"
          
        >
          <view class="order_list_item_top">
            <view>订单编号:{{ item.orderNumber }}</view>
            <view
              :class="
                item.status === 1
                  ? 'red'
                  : item.status === 5 || item.status === 6
                  ? 'gray'
                  : ''
              "
              >{{
                item.status === 1
                  ? "待支付"
                  : item.status === 2
                  ? "待发货"
                  : item.status === 3
                  ? "待收货"
                  : item.status === 5
                  ? "已完成"
                  : "已取消"
              }}
              <view
                v-if="item.status === 5 || item.status === 6"
                @click="delshowModel(item.orderNumber)"
              >
                <img src="../../static/icon/clear-his.png" alt="" />
              </view>
            </view>
          </view>
          <view class="order_list_item_box" @click="gotoorderdetail(item.orderNumber)">
            <view class="order_list_item_box_img">
              <img :src="item.orderItemDtos[0].pic" alt="" />
            </view>
            <view class="order_list_item_box_content">
              <view class="order_list_item_box_content_text">
                <text>{{ item.orderItemDtos[0].prodName }}</text>
              </view>
              <view class="order_list_item_box_content_desc">
                {{ item.orderItemDtos[0].skuName }}
              </view>
              <view class="order_list_item_box_content_price">
                <text><text>￥</text>{{ item.orderItemDtos[0].price }}</text>
                <view class="order_list_item_box_number"
                  >x{{ item.orderItemDtos[0].prodCount }}</view
                >
              </view>
            </view>
          </view>
          <view class="order_list_item_bottom">
            <view
              >共<text>{{ item.orderItemDtos[0].prodCount }}</text
              >件商品</view
            >
            <view
              >合计:<text
                >￥<text>{{
                  item.orderItemDtos[0].price * item.orderItemDtos[0].prodCount
                }}</text></text
              ></view
            >
          </view>
          <view class="order_list_item_button" v-if="item.status === 1">
            <view @click="showModel(item.orderNumber)">取消订单</view>
            <view>再次购买</view>
            <view>付款</view>
          </view>
          <view class="order_list_item_button1" v-if="item.status === 6">
            <view>再次购买</view>
          </view>
        </view>
      </view>
    </view>
    <u-modal
      :show="show"
      content="是否取消此订单"
      :showCancelButton="true"
      @cancel="cancel"
      @confirm="delorder"
    ></u-modal>
    <u-modal
      :show="delshow"
      content="确定要删除此订单吗？"
      :showCancelButton="true"
      @cancel="delcancel"
      @confirm="del_order_list"
    ></u-modal>
  </view>
</template>

<script>
import message from "@/utils/message";
import { get_orderList, del_order, del_order_List } from "@/services/orderlist";
export default {
  data() {
    return {
      orderList: [],
      current: 0,
      size: 10,
      status: 0,
      show: false,
      orderNumber: 0,
      delshow: false,
      delorderNumber: 0,
    };
  },
  onLoad(options) {
    this.status = parseInt(options.status);
    this.init();
  },
  methods: {
    async init() {
      const res = await get_orderList({
        current: this.current,
        size: this.size,
        status: this.status,
      });
      console.log(res);
      this.orderList = res.records;
    },
    allOrder() {
      this.status = 0;
      this.init();
      console.log(this.status);
    },
    payOrder() {
      this.status = 1;
      this.init();
    },
    faOrder() {
      this.status = 2;
      this.init();
    },
    shouOrder() {
      this.status = 3;
      this.init();
    },
    finishOrder() {
      this.status = 5;
      this.init();
    },
    showModel(orderNumber) {
      this.show = true;
      this.orderNumber = orderNumber;
    },
    delshowModel(orderNumber) {
      this.delshow = true;
      this.delorderNumber = orderNumber;
    },
    cancel() {
      this.show = false;
    },
    delcancel() {
      this.delshow = false;
    },
    async delorder() {
      const res = await del_order(this.orderNumber);
      this.show = false;
      if (res.statusCode === 200) {
        this.init();
      }
    },
    async del_order_list() {
      const res = await del_order_List(this.delorderNumber);
      this.delshow = false;
      this.init();
    },
    gotoorderdetail(orderNumber){
      this.$goPage({
        url:'/pages/orderdetail/index',
        query:{
          orderNumber:orderNumber
        }
      })
    }
  },
};
</script>

<style lang="scss" scoped>
/* 头部菜单 */
.container {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}
.order-tit {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  z-index: 999;
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  background-color: #fff;
  border-bottom: 2rpx solid #f4f4f4;
  .on {
    border-bottom: 4rpx solid red;
    color: red;
  }
}

.order-tit text {
  display: block;
  font-size: 28rpx;
  color: 999;
  width: 100rpx;
  text-align: center;
}

.on {
  border-bottom: 4rpx solid red;
  color: red;
}

/*  end 头部菜单 */

.main {
  margin-top: 100rpx;
  width: 100%;
  .order_list {
    width: 100%;
    .order_list_item {
      width: 100%;
      margin-bottom: 8px;
      .order_list_item_top {
        width: 100%;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        justify-content: space-between;
        > view:nth-child(1) {
          font-size: 13px;
        }
        > view:nth-child(2) {
          font-size: 12px;
        }
        > view {
          display: flex;
          align-items: center;
          view {
            img {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
      .order_list_item_box {
        width: 100%;
        background-color: #fcfcfc;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        .order_list_item_box_img {
          width: 25%;
          img {
            width: 80px;
            height: 80px;
            border-radius: 5px;
          }
        }
        .order_list_item_box_content {
          width: 70%;
          .order_list_item_box_content_text {
            font-size: 13px;
            color: #333333;
          }
          .order_list_item_box_content_desc {
            font-size: 11px;
            color: #999999;
            margin-top: 10px;
          }
          .order_list_item_box_content_price {
            font-size: 12px;
            margin-top: 2px;
            display: flex;
            justify-content: space-between;
            .order_list_item_box_number {
              font-size: 14px;
              color: #999999;
            }
          }
        }
      }
      .order_list_item_bottom {
        display: flex;
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
        padding: 15px 10px;
        margin-top: 1px;
        background-color: #fff;
        align-items: center;
        > view:nth-child(2) {
          margin-left: 10px;
          > text {
            margin-left: 12px;
            font-size: 12px;
          }
        }
      }
      .order_list_item_button {
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        font-size: 13px;
        justify-content: flex-end;
        background-color: #fff;
        margin-top: 1px;
        view {
          padding: 4px 15px;
          margin-right: 10px;
        }
        > view:nth-child(1) {
          border: 1px solid #e1e1e1;
          border-radius: 20px;
        }
        > view:nth-child(2) {
          border: 1px solid red;
          border-radius: 20px;
          color: red;
        }
        > view:nth-child(3) {
          border: 1px solid red;
          border-radius: 20px;
          color: red;
        }
      }
      .order_list_item_button1 {
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        font-size: 13px;
        justify-content: flex-end;
        background-color: #fff;
        margin-top: 1px;
        view {
          padding: 4px 15px;
          margin-right: 10px;
          border: 1px solid red;
          border-radius: 20px;
          color: red;
        }
      }
    }
  }
}
.empty {
  width: 100%;
  height: 100px;
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  color: red;
}
.gray {
  color: #666;
}
</style>
