<template>
  <view class="search_already">
    <view class="search_header">
      <view class="search_ipt">
        <view class="search_ipt_insed">
          <u-search placeholder="请输入关键词" v-model="keyword" :showAction="false"></u-search>
        </view>
        <view class="cla_btn" @click="changeBtn" v-if="btnflag">
          <img src="../../static/search-col.png" alt="">
        </view>
        <view class="cla_btn" @click="changeBtn" v-else>
          <img src="../../static/search-col2.png" alt=""/>
        </view>
      </view>
      <view class="tags">
        <view v-for="(item,index) in tags" :key="index" :class="tagIndex===index?'active':''" @click="changeActive(index)" > {{item}} </view>
      </view>
    </view>
    <view class="searchCon">
      <view v-if="btnflag">
          <view class="shopBig">
            <view class="shopItem" v-for="(it, ind) in ConList" :key="ind">
              <view class="imagecont">
                <img style="widows: 100%;height: 300rpx;" :src="it.pic" alt="" />
              </view>
              <view class="shop-text">{{ it.prodName }}</view>
              <view class="price">
                <text>
                  <text class="symbol">￥</text>
                  <text>{{ it.price }}</text>
                </text>
              </view>
            </view>
        </view>
      </view>
      <view v-else>
        <view class="conItemC" v-for="(item,index) in ConList" :key="index">
          <view class="ConCimg">
            <img style="width: 200rpx;height:200rpx;" class="myimg" :src="item.pic" alt="">
          </view>
          <view class="ConCon">
            <view class="conTitle">
              {{item.prodName}}
            </view>
            <view class="pj">
              {{item.positiveRating}}评价 {{item.praiseNumber}}%好评
            </view>
            <view class="comprice">
              ￥{{item.price}}
            </view>
          </view>
        </view>
      </view>
    </view>
  </view>

</template>

<script>
import { get_search_Item } from '../../services/search'
export default {
  data() {
			return {
				keyword: '',
        tags:['综合','销量','价格'],
        btnflag:false,
        tagIndex:0,
        ConList:[]
			}
	},
  async onLoad(options){
    await this.init(options.keyword)
  },
  methods: {
    async init(keyword){
      const initList=await get_search_Item({
        current:1,
        prodName:keyword,
        size:10,
        sort:0
      })
      this.ConList=initList.records
      this.keyword=keyword
    },
    changeBtn() {
      this.btnflag=!this.btnflag
    },
    changeActive(index){
      this.tagIndex=index
    }
  },
}
</script>

<style lang="scss" scoped>
  .active{
    color: red;
  }
  .search_already{
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
   .search_header{
    width: 100%;
    height: 200rpx;
    background-color: #fff;
    .search_ipt{
      width: 100%;
      display: flex;
      .search_ipt_insed{
        width: 85%;
        display: flex;
        align-items: center;
      }
      .cla_btn{
        margin-left: 20rpx;
        width: 55rpx;
        height: 55rpx;
        display: flex;
        align-items: center;
        >image{
          width: 100%;
          height: 100%;
        }
      }

    }
    .tags{
      display: flex;
      height: 130rpx;
      >view{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
   }
   .searchCon{
    width: 100%;
    box-sizing: border-box;
    padding: 20rpx;
      .shopBig {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .shopItem {
          width: 45%;
          background-color: #f6f6f6;
          border-radius: 30rpx;
          margin-left: 3vw;
          box-sizing: border-box;
          padding: 20rpx;
          margin-top: 1vh;
          margin-bottom: 2vh;
          box-shadow: 0rpx 5rpx #dfeef8;
          .imagecont {
            width: 100%;
            > image {
              width: 100%;
              height: 300rpx;
              border-radius: 30rpx;
            }
          }
          .shop-text {
            font-size: 28rpx;
            text-overflow: -o-ellipsis-lastline;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .price {
            padding: 10rpx 0rpx;
            color: rgb(249, 69, 69);
            display: flex;
            justify-content: space-between;
          }
          .shopicon {
            width: 40rpx;
            height: 40rpx;
          }
        }
      }
    .conItemC{
      width: 100%;
      height: 230rpx;
      border-radius: 20rpx;
      background-color: #fff;
      border: solid 1px #e3e3e3;
      display: flex;
      .ConCimg{
        width: 280rpx;
        height: 230rpx;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ConCon{
        box-sizing: border-box;
        padding: 20rpx;
        .conTitle{
          font-size: 30rpx;
        }
        .pj{
          font-size: 25rpx;
          color: rgb(195, 195, 195);
          margin-top: 13rpx;
        }
        .comprice{
          color: red;
          margin-top: 13rpx;
        }
      }
    }
   }
  }
</style>