<template>
  <div class="shopcar">
    <view v-if="shoplist.length === 0">购物车没有数据</view>
    <view
      v-for="(item, index) in shopCartItemDiscounts[0].shopCartItems"
      :key="index"
      class="uni_car"
    >
      <u-swipe-action :autoClose="true">
        <u-swipe-action-item :options="options1">
          <view class="swipe-action u-border-top u-border-bottom">
            <view class="swipe-action__content">
              <view class="shopItem">
                <view class="flex-end form-group">
                  <u-checkbox-group>
                    <u-checkbox
                      :checked="item.checked"
                      :key="index"
                      :name="item.name"
                      shape="circle"
                      activeColor="red"
                      @change="checkone(item.basketId)"
                    />
                  </u-checkbox-group>
                </view>
                <div class="imgbox">
                  <image :src="item.pic" class="image"></image>
                </div>
                <view class="kson">
                  <text class="Name">{{ item.prodName }}</text>
                  <text class="uni_des">￥{{ item.price }}</text>
                  <view class="car_btn">
                    <text class="car_del" @click="pevNum(item)">-</text>
                    <text class="text_s">{{ item.prodCount }}</text>
                    <text class="car_del" @click="addNum(item)">+</text>
                  </view>
                </view>
              </view>
            </view>
          </view>
        </u-swipe-action-item>
      </u-swipe-action>
    </view>
    <view class="node_wap">
      <view class="view">
        <checkbox-group class="block">
          <view class="flex-end form-group">
            <u-checkbox-group>
              <u-checkbox
                :checked="allChecked"
                :name="all"
                shape="circle"
                activeColor="red"
                @change="CheakAll"
              />
            </u-checkbox-group>
          </view>
        </checkbox-group>

        <text>全选</text>
        <text class="uni_del" @click="show = true">删除</text>
        <text>合计</text>
        <text class="may">￥:{{ totalMoney }}</text>
      </view>
      <text class="bom">结算</text>
    </view>
    <view>
      <u-modal
        :show="show"
        :title="title"
        :showCancelButton="true"
        :content="content"
        @confirm="delAll"
        @cancel="show = false"
      ></u-modal>
    </view>
  </div>
</template>
<script>
import {
  shopCarlist,
  totalPay,
  changeNum,
  del_All,
} from "../../services/shopcar";
export default {
  data() {
    return {
      shopCartItemDiscounts: [], //购物车数据
      allChecked: false,
      checkArr: [],
      totalMoney: 0,
      show: false,
      title: "删除",
      content: "确认删除吗?",
      options1: [{
                text: '删除',
                disabled:false,
                style: {
                      backgroundColor: '#f56c6c',
                }
              }]
    };
  },
  async onShow() {
    await this.shop();
  },
  methods: {
    async shop() {
      const res = await shopCarlist();
      this.shopCartItemDiscounts = res[0].shopCartItemDiscounts;
      this.shopCartItemDiscounts.forEach((shopCartItemDiscount) => {
        shopCartItemDiscount.shopCartItems.forEach((shopCartItem) => {
          shopCartItem.checked = false;
        });
      });
    },

    async getAllPrice(basketIds) {
      const res = await totalPay(basketIds);
      this.totalMoney = res.totalMoney;
    },

    checkone(basketId) {
      console.log(111);
      this.checkArr = [];
      this.shopCartItemDiscounts.forEach((shopCartItemDiscount) => {
        shopCartItemDiscount.shopCartItems.forEach((shopCartItem) => {
          if (shopCartItem.basketId === basketId) {
            shopCartItem.checked = !shopCartItem.checked;
          }
          if (shopCartItem.checked) {
            this.checkArr.push(shopCartItem.basketId);
          }
        });
      });
      this.checkAllSelected();
      this.getAllPrice(this.checkArr);
      console.log(this.checkArr);
    },

    CheakAll() {
      this.checkArr = [];
      this.allChecked = !this.allChecked;

      this.shopCartItemDiscounts.forEach((shopCartItemDiscount) => {
        shopCartItemDiscount.shopCartItems.forEach((shopCartItem) => {
          shopCartItem.checked = this.allChecked;
          if (shopCartItem.checked) {
            this.checkArr.push(shopCartItem.basketId);
          }
        });
      });
      this.getAllPrice(this.checkArr);
    },

    //反选
    checkAllSelected() {
      var allChecked = true;
      var flag = false;
      //将店铺循环
      for (var i = 0; i < this.shopCartItemDiscounts.length; i++) {
        var cItems = this.shopCartItemDiscounts[i].shopCartItems;
        //循环每个店铺的商品
        for (var j = 0; j < cItems.length; j++) {
          //如果checked为falses
          if (!cItems[j].checked) {
            allChecked = !allChecked;
            flag = true;
            break;
          }
        }
        if (flag) {
          break;
        }
      }
      this.allChecked = allChecked;
    },

    //加
    async addNum(item) {
      const res = await changeNum({
        count: 1,
        prodId: item.prodId,
        skuId: item.skuId,
        shopId: 1,
      });
      this.shop();
    },

    //减     
    async pevNum(item) {
      const res = await changeNum({
        count: -1,
        prodId: item.prodId,
        skuId: item.skuId,
        shopId: 1,
      });
      this.shop();
    },

    delOne(name,index){
      console.log(index)
    },

    //删除
    async delAll() {
      console.log(this.checkArr);
      const res = await del_All(this.checkArr);
      this.show = false;
      this.shop();
    },
  },
};
</script>

<style lang="scss" scoped>
.shopcar {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.car {
  display: flex;
}
.image {
  width: 60px;
  height: 60px;
}
.node_wap {
  z-index: 99;
  font-size: 12px;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  background-color: rgb(248, 248, 248);
}
.node_wap view {
  width: 70%;
  height: 100%;
  line-height: 40px;
  float: left;
  display: flex;
}
.uni_del {
  color: red;
  margin-left: 30px;
  margin-right: 30px;
}
.node_wap .bom {
  width: 95px;
  height: 100%;
  font-size: 12px;
  float: right;
  background-color: red;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
.may {
  color: red;
}
.block {
  width: 100rpx;
}
.uni_car {
  width: 100%;
  font-size: 12px;
  position: relative;
}
.u-swipe-action{
  height: 100%!important;
}
.u-page {
        padding: 0;
        height: 100%;
    }
    .u-demo-block__title {
        padding: 10px 0 2px 15px;
    }
    .swipe-action {
        &__content {
             padding: 10rpx 0;
    
            &__text {
                 font-size: 15px;
                 color: $u-main-color;
                 padding-left: 30rpx;
             }
        }
    }
.kson {
  width: 60%;
  height: 100%;
  font-size: 14px;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.shopItem{
  height: 80px;
}
.u-swipe-action {
  height: 100%;
}
.flex-end {
  width: 60rpx;
  padding-left: 10rpx;
}
.text_s {
  text-align: center;
}
.uni_car view {
  display: flex;
}
.imgbox{
  width: 140rpx;
  height: 140rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 60px;
  height: 60px;
}
.uni_des {
  color: red;
  margin-top: 40rpx;
}
.car_btn {
  width: 70px;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom: 15%;
}
.car_btn .car_del {
  line-height: 20px;
}
.car_btn text {
  width: 20px;
  display: inline-block;
  text-align: center;
  border: 1px solid #ccc;
}

.car_btn {
  width: 70px;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom: 18%;
}
.car_btn .car_del {
  line-height: 20px;
}
.car_btn text {
  width: 20px;
  display: inline-block;
  padding-left: 7px;
  border: 1px solid #ccc;
}
.Name{
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
</style>