/<template>
  <view class="search"> 
    <view class="header">
        <u-search :show-action="true" action-text="搜索" :animation="false" @search="mysearch" v-model="keyword"></u-search>
    </view>
    <view class="hot-search">
        <text class="title">热门搜索</text>
        <view class="hotCon">
          <button class="hot_one" v-for="(item,index) in hotList" :key="index" @click="setIpt(item.title)">
            {{item.title}}
          </button>
        </view>
    </view>
    <view class="search-history">
      <view class="history-title">
            <text class="title">搜索历史</text>
            <image
              @click="clearLocal"
              style="width: 40rpx; height: 40rpx; background-color: #eeeeee"
              src="../../static/icon/clear-his.png"
              class="search-del"
            ></image>
      </view>
      <view class="localCon">
        <button class="local_one" v-for="(item,index) in localSearch" :key="index" @click="setipt(item)">
          {{item}}
        </button>
      </view>
    </view>
  </view>
</template>

<script>
  import { get_host_search } from '../../services/search'
  import { debounce } from '../../utils/utils'
  export default {
    data(){
      return{
        keyword: '',
        hotList:[],
        localSearch:[]
      }
    },
    async onLoad(){
      await this.init()
      
    },
    methods: {
      async init() {
        const hot=await get_host_search({
          number:10,
          shopId:1,
          sort:1
        })
        this.hotList=hot
        this.localSearch=JSON.parse(uni.getStorageSync('history'))
      },
      mysearch:debounce(function(e){
        this.localSearch.push(e)
        uni.setStorageSync('history',JSON.stringify(this.localSearch))
        this.$goPage({
          url: "/pages/searchAlready/index",
          query:{
            keyword:this.keyword
          }
        })
      },2000),
      clearLocal(){
        this.localSearch=[]
        uni.setStorageSync('history',JSON.stringify(this.localSearch))
        this.$goPage({
          url: "/pages/searchAlready/index",
          query:{
            keyword:this.keyword
          }
        })
      },
      setIpt(title){
        this.keyword=title
        this.$goPage({
          url: "/pages/searchAlready/index",
          query:{keyword:title}
        })
      },
      setipt(title){
        this.keyword=title
        this.$goPage({
          url: "/pages/searchAlready/index",
          query:{keyword:title}
        })
      }
    },
  };
</script>

<style lang="scss" scoped>
.search {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  padding: 30rpx;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hot-search {
  width: 100%;
  line-height: 50px;
  padding: 30rpx 0;
  font-size: 30rpx;
  color: rgb(26, 25, 25);
  margin-top:15px ;
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #e9e9e9;
}
.search-del {
  margin-right: 15px;
  background: none;
}
.search-history {
  padding: 30rpx 0;
  font-size: 30rpx;
  color: rgb(26, 25, 25);
  border-top: 2rpx solid #e1e1e1;
}
.title {
  margin-left: 10px;
}
.history-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.hotCon{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .hot_one{
    font-size: 24rpx;
    border-radius: 30rpx;
    margin-bottom: 20rpx;
  }
}
.localCon{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .local_one{
    font-size: 24rpx;
    border-radius: 30rpx;
    margin-bottom: 20rpx;
  }
}
</style>