<template>
    <view>
        <view v-if="timeList.length>0">
            
        </view>
        <view class="none" v-else>
            暂无数据
        </view>
    </view>
</template>

<script>
import { get_list } from '../../services/timelimited'
export default {
    data(){
        return{
            timeList:[]
        }
    },
    async onLoad(){
        await this.init()
    },
    methods: {
        async init() {
            const res=await get_list()
            console.log(res)
        },
    },

}
</script>

<style scoped>
    .none{
        text-align: center;
        color: rgb(192, 188, 188);
    }
</style>