<template>
  <view class="shopBig">
    <view
      class="shopItem"
      v-for="(it, ind) in initData"
      :key="ind"
      @click="gotodetail(it.prodId)"
    >
      <view class="imagecont">
        <img :src="it.pic" alt="" />
      </view>
      <view class="shop-text">{{ it.prodName }}</view>
      <view class="price">
        <text>
          <text class="symbol">￥</text>
          <text>{{ it.price }}</text>
        </text>
        <view>
          <img class="shopicon" src="../../static/basket-sel.png" alt="" />
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { get_morebaby } from "../../services/moreBaby";
export default {
  data() {
    return {
      initData: [],
    };
  },
  async onLoad() {
    await this.init();
  },
  methods: {
    async init() {
      const res = await get_morebaby({
        tagId: 3,
        current: 1,
        size: 10,
      });
      this.initData = res.records;
    },
    gotodetail(id) {
      this.$goPage({
        url: "/pages/detail/index",
        query: {
          prodId: id,
        },
      });
    },
  },
};
</script>

<style scoped lang="scss">
.shopBig {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .shopItem {
    width: 45%;
    border: solid 1px #dfeef8;
    margin-left: 3vw;
    box-sizing: border-box;
    padding: 20rpx;
    margin-top: 1vh;
    margin-bottom: 2vh;
    box-shadow: 0rpx 5rpx #dfeef8;
    .imagecont {
      width: 100%;
      > image {
        width: 100%;
        height: 300rpx;
      }
    }
    .shop-text {
      font-size: 28rpx;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .price {
      padding: 10rpx 0rpx;
      color: rgb(249, 69, 69);
      display: flex;
      justify-content: space-between;
    }
    .shopicon {
      width: 40rpx;
      height: 40rpx;
    }
  }
}
</style>
