<template>
  <view class="container">
    <view class="main">
      <radio-group class="radio-group">
        <block>
          <view
            class="address"
            v-for="(item, index) in dateList"
            :key="index"
            
          >
            <view class="personal">
              <view class="info-tit" @click="address_item(item)">
                <text class="name">{{ item.receiver }}</text>
                <text class="tel">{{ item.mobile }}</text>
                <text class="addr_tex"
                  >{{ item.province }}{{ item.city }}{{ item.area
                  }}{{ item.addr }}</text
                >
                <image
                  src="../../static/icon/revise.png"
                  @click="toEditAddress(item)"
                ></image>
              </view>
              <view class="addr">
                <text class="addr-get"> </text>
              </view>
            </view>
            <view class="select-btn">
              <view class="box"  @click="defaultClick(item.addrId)">
                <label bindtap="onDefaultAddr"> <radio :checked='item.commonAddr===1'/>设为默认地址</label>
              </view>
            </view>
          </view>
        </block>
      </radio-group>
    </view>
    <view class="footer" @click="onAddAddr">
      <text>新增收货地址</text>
    </view>
  </view>
</template>
<script>
import { cityList,set_defaultAddress } from "@/services/list";
export default {
  data() {
    return {
      dateList: [],
      orderItem: uni.getStorageSync("orderdetail") || {},
    };
  },
  // onLoad() {
  //   this.init()
  // },
  onShow() {
    this.init();
  },
  methods: {
    async init() {
      this.dateList = await cityList();
      console.log(this.dateList, "—————————————————");
    },

    async onAddAddr() {
      await this.$goPage({
        url: "/pages/Newaddress/index",
        redirect: false,
      });
    },
    async toEditAddress(data) {
      console.log(data, "=======addAddEdita");
      await this.$goPage({
        url: "/pages/Editaddress/index",
        query: data,
      });
    },
    address_item(item) {
      var pages = getCurrentPages();
      var page = pages[pages.length - 2];
      if (page.route === "pages/order/index") {
        uni.navigateBack({
          delta: 1,
        });
        const pages = getCurrentPages();
        const page = pages[pages.length - 2];
        page.setData({
          userAddr: item,
        });
      }
    },
    defaultClick(id){
      set_defaultAddress(id)
    }
  },
};
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  position: relative;
}

.logo {
  height: 200rpx;
  width: 200rpx;
  margin: 200rpx auto 50rpx auto;
}

.text-area {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 36rpx;
  color: #8f8f94;
}
.main {
  margin-top: 20rpx;
}

.address {
  margin-bottom: 15rpx;
  width: 100%;
  background-color: #fff;
  border-bottom: 2rpx solid #e9eaec;
}

.address .personal {
  position: relative;
  padding: 20rpx 30rpx;
  border-bottom: 3rpx dashed #e9eaec;
}

.address .personal .info-tit .name {
  margin-right: 30rpx;
  font-size: 32rpx;
  display: inline-block;
}

.address .personal .info-tit .tel {
  font-size: 30rpx;
}

.address .personal .info-tit image {
  position: absolute;
  right: 30rpx;
  top: 46rpx;
  width: 40rpx;
  height: 40rpx;
  margin-left: 50rpx;
  vertical-align: middle;
}

.personal .addr {
  font-size: 26rpx;
  margin: 10rpx 0;
}

.personal .addr .addr-get {
  display: inline-block;
  color: #999;
  width: 100%;
  word-break: break-word;
}

.address .select-btn {
  padding: 15rpx 30rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address .select-btn .box {
  font-size: 26rpx;
}

.footer {
  height: 90rpx;
  line-height: 90rpx;
  width: 760rpx;
  text-align: center;
  color: red;
  font-size: 32rpx;
  border-top: 1px solid #e9eaec;
  position: fixed;
  bottom: 10rpx;
  background-color: #fff;
}
.empty .img {
  text-align: center;
  margin-top: 130rpx;
}

.empty .img image {
  width: 100rpx;
  height: 100rpx;
  display: block;
  margin: auto;
}

.empty .txt {
  margin-top: 30rpx;
  font-size: 24rpx;
  text-align: center;
  color: #999;
}

.addr_tex {
  width: 270px;
  height: 30px;
  font-size: 10px;
  color: #ccc;
  position: absolute;
  top: 60%;
  left: 4%;
}
</style>
