/
<template>
  <view class="order">
    <view class="order_address" @click="gotoAddress">
      <view class="order_address_left">
        <image src="@/static/icon/addr.png" alt="" />
        <view>
          <view>
            <view>{{ userAddr.receiver }}</view>
            <view>{{ userAddr.mobile }}</view>
          </view>
          <view>
            {{ userAddr.province }}{{ userAddr.city }}{{ userAddr.area
            }}{{ userAddr.addr }}
          </view>
        </view>
      </view>
      <view class="order_address_right">></view>
    </view>
    <view class="order_detail">
      <view class="order_detail_top">
        <view class="order_detail_top_img">
          <img
            :src="
              orderdetail.shopCartOrders[0].shopCartItemDiscounts[0]
                .shopCartItems[0].pic
            "
            alt=""
          />
        </view>
        <view class="order_detail_top_content">
          <view class="order_detail_top_content_text">
            <text>{{
              orderdetail.shopCartOrders[0].shopCartItemDiscounts[0]
                .shopCartItems[0].prodName
            }}</text>
          </view>
          <view class="order_detail_top_content_desc">
            {{
              orderdetail.shopCartOrders[0].shopCartItemDiscounts[0]
                .shopCartItems[0].skuName
            }}
          </view>
          <view class="order_detail_top_content_price">
            <text
              ><text>￥</text
              >{{
                orderdetail.shopCartOrders[0].shopCartItemDiscounts[0]
                  .shopCartItems[0].price
              }}</text
            >
            <view class="order_detail_top_number"
              >x{{ orderdetail.totalCount }}</view
            >
          </view>
        </view>
      </view>
      <div class="order_detail_bottom">
        <view
          >共<text>{{ orderdetail.totalCount }}</text
          >件商品</view
        >
        <view
          >合计:<text
            >￥<text>{{
              orderdetail.shopCartOrders[0].shopCartItemDiscounts[0]
                .shopCartItems[0].price * orderdetail.totalCount
            }}</text></text
          ></view
        >
      </div>
    </view>
    <view class="order_price">
      <view class="order_price_discount">
        <view class="order_price_discount_box" @click="showSheet">
          <view class="order_price_discount_left"> 优惠券：暂无可用 </view>
          <view class="order_price_discount_right"> 0张<text>></text> </view>
        </view>
      </view>
      <view class="order_price_commont">
        <view>买家留言:</view> <input placeholder="给卖家留言" />
      </view>
      <view class="order_price_detailPrice">
        <view class="order_price_detailPrice_orderPrice">
          <view class="order_price_detailPrice_orderPrice_left">订单总额:</view>
          <view class="order_price_detailPrice_orderPrice_right">
            <text>￥</text
            ><text>{{
              orderdetail.shopCartOrders[0].shopCartItemDiscounts[0]
                .shopCartItems[0].price * orderdetail.totalCount
            }}</text>
          </view>
        </view>
        <view class="order_price_detailPrice_freight">
          <view class="order_price_detailPrice_freight_left">运费:</view>
          <view class="order_price_detailPrice_freight_right">
            <text>￥</text><text>{{ orderdetailList.selectedPrice }}</text>
          </view>
        </view>
        <view class="order_price_detailPrice_discountAmount">
          <view class="order_price_detailPrice_discountAmount_left"
            >优惠金额:</view
          >
          <view class="order_price_detailPrice_discountAmount_right">
            <text>￥</text><text>{{ orderdetailList.selectedPrice }}</text>
          </view>
        </view>
        <view class="order_price_detailPrice_Subtotal">
          <view class="order_price_detailPrice_Subtotal_box">
            <text>小计：</text><text>￥</text
            ><text>{{
              orderdetail.shopCartOrders[0].shopCartItemDiscounts[0]
                .shopCartItems[0].price * orderdetail.totalCount
            }}</text>
          </view>
        </view>
      </view>
      <view class="orderSubmit">
        <view class="orderSubmit_left">
          <view>合计:</view>
          <view
            ><text>￥</text
            ><text>{{
              orderdetail.shopCartOrders[0].shopCartItemDiscounts[0]
                .shopCartItems[0].price * orderdetail.totalCount
            }}</text></view
          >
        </view>
        <view class="orderSubmit_right">
          <view class="submitOrder" @click="submit_order(orderdetail)">
            提交订单
          </view>
        </view>
      </view>
    </view>
    <van-action-sheet :show="show">
      <view class="discount">
        <view class="discount_title">
          <view>优惠券</view>
          <view @click="showSheetcancel">X</view>
        </view>
        <view class="discount_tab">
          <view class="discount_tab_item" @click="discountClick">
            <view :class="block === 0 ? 'active' : ''">可用优惠券(0)</view>
          </view>
          <view class="discount_tab_item" @click="nodiscountClick">
            <view :class="block === 1 ? 'active' : ''">不可用优惠券(0)</view>
          </view>
        </view>
        <view class="discount_tab_block" v-if="block === 0">
          <view class="discount_tab_block_content"> </view>
          <view class="discount_tab_block_footer">
            <view @click="showSheetcancel">确定</view>
          </view>
        </view>
        <view class="discount_tab_block" v-if="1"> </view>
      </view>
    </van-action-sheet>
  </view>
</template>

<script>
import vanActionSheet from "@/wxcomponents/vant/dist/action-sheet/index";
import message from "@/utils/message.js";
import Toast from "@/wxcomponents/vant/dist/toast/index";
import vanSubmitBar from "@/wxcomponents/vant/dist/submit-bar/index";
import {
  get_order_detail,
  submit_order_list,
  order_pay,
} from "@/services/order";
export default {
  data() {
    return {
      orderdetail: uni.getStorageSync("orderdetail"),
      orderdetailList: {},
      defaultAddress: {},
      addressList: uni.getStorageSync("address") || {},
      addrId: 0,
      userAddr: {},
      show: false,
      block: 0,
      orderNumbers: 0,
    };
  },
  async onLoad(options) {
    this.orderdetail = options;
    uni.setStorageSync("orderdetail", this.orderdetail);
    this.orderdetailList = options;
    const res = await get_order_detail({
      addrId: this.addrId,
      couponIds: [],
      orderItem: {
        prodId: options.prodId,
        skuId: options.skuId,
        prodCount: options.selectedCount,
        shopId: options.shopId,
      },
      prodCount: options.selectedCount,
      prodId: options.prodId,
      shopId: options.shopId,
      skuId: options.skuId,
    });
    this.orderdetail = res;
    this.userAddr = res.userAddr;
  },
  methods: {
    async submit_order() {
      if (!this.orderdetail.userAddr) {
        message.toast("请选择地址");
      } else {
        const res = await submit_order_list({
          orderShopParam: [
            {
              remarks: this.orderdetail.shopCartOrders[0].remarks || "",
              shopId: this.orderdetail.shopCartOrders[0].shopId,
            },
          ],
        });
        console.log(res);
        if (res) {
          message.toast(res);
        }
        const result = await order_pay({
          orderNumbers: res.orderNumbers,
          payType: 1,
        });
        console.log(result);
        uni.requestPayment({
          appId: result.appId,
          timeStamp: result.timeStamp,
          nonceStr: result.nonceStr,
          package: result.packageValue,
          signType: result.signType,
          paySign: result.paySign,
          success: (result) => {
            uni.showToast({
              icon: "success",
              title: "支付成功",
            });
          },
          fail: (error) => {
            uni.showToast({
              icon: "error",
              title: "支付失败",
            });
          },
        });
      }
    },
    gotoAddress() {
      this.$goPage({
        url: "../../detailPkg/address/index",
      });
    },
    nodiscountClick() {
      this.block = 1;
    },
    discountClick() {
      this.block = 0;
    },
    showSheetcancel() {
      this.show = false;
    },
    showSheet() {
      this.show = true;
    },
  },
  components: {
    vanSubmitBar,
    Toast,
    vanActionSheet,
  },
};
</script>

<style lang="scss">
.order {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  .order_address {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    color: #666666;
    background-color: #fff;
    .order_address_left {
      width: 90%;
      display: flex;
      align-items: center;
      font-size: 13px;
      image {
        width: 16px;
        height: 16px;
        margin-right: 7px;
      }
      > view {
        > view {
          display: flex;
          margin: 10px;
          > view:nth-child(1) {
            margin-right: 10px;
          }
        }
      }
    }
    .order_address_right {
      width: 5%;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .order_detail {
    width: 100%;
    .order_detail_top {
      margin-top: 7px;
      background-color: #fff;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      .order_detail_top_img {
        width: 23%;
        img {
          width: 90%;
          height: 90%;
          border-radius: 8px;
        }
      }
      .order_detail_top_content {
        width: 70%;
        .order_detail_top_content_text {
          font-size: 13px;
          color: #333333;
        }
        .order_detail_top_content_desc {
          font-size: 11px;
          color: #999999;
          margin-top: 10px;
        }
        .order_detail_top_content_price {
          font-size: 12px;
          margin-top: 2px;
          display: flex;
          justify-content: space-between;
          .order_detail_top_number {
            font-size: 14px;
            color: #999999;
          }
        }
      }
    }
    .order_detail_bottom {
      display: flex;
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      padding: 15px 10px;
      margin-top: 1px;
      background-color: #fff;
      align-items: center;
      > view:nth-child(2) {
        margin-left: 10px;
        > text {
          margin-left: 12px;
          font-size: 12px;
        }
      }
    }
  }
  .order_price {
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    .order_price_discount {
      width: 100%;
      font-size: 13px;
      padding: 0 14px;
      background-color: #fff;
      box-sizing: border-box;
      .order_price_discount_box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f4f4f4;
        padding: 11px 0;
        .order_price_discount_left {
          color: #333333;
        }
        .order_price_discount_right {
          color: #999999;
          text {
            margin-left: 10px;
          }
        }
      }
    }
    .order_price_commont {
      padding: 11px 14px;
      font-size: 13px;
      background-color: #fff;
      display: flex;
      align-items: center;
      input {
        color: #808080;
        margin-left: 8px;
        margin-bottom: 0;
      }
    }
    .order_price_detailPrice {
      width: 100%;
      background-color: #fff;
      margin-top: 8px;
      .order_price_detailPrice_orderPrice {
        padding: 12px;
        display: flex;
        width: 100%;
        font-size: 13px;
        justify-content: space-between;
        box-sizing: border-box;
        .order_price_detailPrice_orderPrice_right {
          color: red;
          > text:nth-child(2) {
            font-size: 16px;
          }
        }
      }
      .order_price_detailPrice_freight {
        padding: 12px;
        display: flex;
        width: 100%;
        font-size: 13px;
        justify-content: space-between;
        box-sizing: border-box;
        .order_price_detailPrice_freight_right {
          color: red;
          > text:nth-child(2) {
            font-size: 16px;
          }
        }
      }
      .order_price_detailPrice_discountAmount {
        padding: 12px;
        display: flex;
        width: 100%;
        font-size: 13px;
        justify-content: space-between;
        box-sizing: border-box;
        .order_price_detailPrice_discountAmount_right {
          color: red;
          > text:nth-child(2) {
            font-size: 16px;
          }
        }
      }
      .order_price_detailPrice_Subtotal {
        padding: 0 12px;
        width: 100%;
        font-size: 13px;
        box-sizing: border-box;
        .order_price_detailPrice_Subtotal_box {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          color: red;
          border-top: solid 1px #f4f4f4;
          padding: 12px 0;
          > text:nth-child(3) {
            font-size: 16px;
          }
        }
      }
    }
  }
  .orderSubmit {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    background-color: #fff;
    .orderSubmit_left {
      padding-left: 12px;
      display: flex;
      align-items: center;
      > view:nth-child(2) {
        color: red;
        > text:nth-child(1) {
          margin-left: 15px;
        }
        > text:nth-child(2) {
          font-size: 16px;
        }
      }
    }
    .orderSubmit_right {
      color: #fff;
      height: 100%;
      .submitOrder {
        background-color: #eb2444;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 28px;
      }
    }
  }
  .discount {
    width: 100%;
    height: 100%;
    background-color: #fff;
    .discount_title {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      font-weight: bold;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .discount_tab {
      display: flex;
      width: 100%;
      height: 40px;
      align-items: center;
      .discount_tab_item {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;

        view {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 2px solid #fff;
        }
        .active {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 2px solid red;
          font-weight: bold;
        }
      }
    }
    .discount_tab_block {
      width: 100%;
      height: calc(100% - 81px);
      background-color: #f4f4f4;
      .discount_tab_block_content {
        width: 100%;
        height: calc(100% - 60px);
      }
      .discount_tab_block_footer {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        background-color: #fff;
        view {
          margin-top: 8px;
          width: 60%;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          border-radius: 20px;
          background-image: linear-gradient(#ed3044, #f45a44);
        }
      }
    }
  }
}
.arrowhead {
  width: 15rpx;
  height: 15rpx;
  border-top: 2rpx solid #999;
  border-right: 2rpx solid #999;
  transform: rotate(45deg);
  margin-left: 10rpx;
}
</style>
